<section class="admin-console">
    <div class="row">
        <div class="col m4 l2">
            <div class="admin-console-item center">
                <a routerLink="/business-profile">
                    <div class="match-height">
                        <img src="assets/images/business-profile.png" class="responsive-img admin-console-img" width="50" alt="admin-console-img">
                    </div>
                    <b>Business Profile</b>
                    <!-- <span>Lorem ipsum dolor dummy text</span> -->
                </a>
            </div>
        </div>
        <div class="col m4 l2">
            <div class="admin-console-item center">
                <a routerLink="/departments">
                    <div class="match-height">
                        <img src="assets/images/department.png" class="responsive-img admin-console-img" width="60" alt="admin-console-img">
                    </div>
                    <b>Departments</b>
                    <!-- <span>Lorem ipsum dolor dummy text</span> -->
                </a>
            </div>
        </div>
        <div class="col m4 l2">
            <div class="admin-console-item center">
                <a routerLink="/document-types">
                    <div class="match-height">
                        <img src="assets/images/doc_types.png" class="responsive-img admin-console-img" width="60" alt="admin-console-img">
                    </div>
                    <b>Document Types</b>
                    <!-- <span>Lorem ipsum dolor dummy text</span> -->
                </a>
            </div>
        </div>
        <div class="col m4 l2">
            <div class="admin-console-item center">
                <a routerLink="/location-settings">
                    <div class="match-height">
                        <img src="assets/images/loc_settings.png" class="responsive-img admin-console-img" width="78" alt="admin-console-img">
                    </div>
                    <b>LocationId Settings</b>
                    <!-- <span>Lorem ipsum dolor dummy text</span> -->
                </a>
            </div>
        </div>
        <div class="col m4 l2">
            <div class="admin-console-item center">
                <a routerLink="/roles">
                    <div class="match-height">
                        <img src="assets/images/roles.png" class="responsive-img admin-console-img" width="60" alt="admin-console-img">
                    </div>
                    <b>Roles</b>
                    <!-- <span>Lorem ipsum dolor dummy text</span> -->
                </a>
            </div>
        </div>
        <div class="col m4 l2">
            <div class="admin-console-item center">
                <a routerLink="/sales-reps">
                    <div class="match-height">
                        <img src="assets/images/sales_rep.png" class="responsive-img admin-console-img" width="60" alt="admin-console-img">
                    </div>
                    <b>Sales Reps</b>
                    <!-- <span>Lorem ipsum dolor dummy text</span> -->
                </a>
            </div>
        </div>
        <div class="col m4 l2">
            <div class="admin-console-item center">
                <a routerLink="/sales-team">
                    <div class="match-height">
                        <img src="assets/images/sales-team.png" class="responsive-img admin-console-img" width="60" alt="admin-console-img">
                    </div>
                    <b>Sales Team</b>
                    <!-- <span>Lorem ipsum dolor dummy text</span> -->
                </a>
            </div>
        </div>
        <div class="col m4 l2">
            <div class="admin-console-item center">
                <a routerLink="/services">
                    <div class="match-height">
                        <img src="assets/images/services.png" class="responsive-img admin-console-img" width="60" alt="admin-console-img">
                    </div>
                    <b>Services</b>
                    <!-- <span>Lorem ipsum dolor dummy text</span> -->
                </a>
            </div>
        </div>
        <div class="col m4 l2">
            <div class="admin-console-item center">
                <a routerLink="/users">
                    <div class="match-height">
                        <img src="assets/images/users.png" class="responsive-img admin-console-img" width="60" alt="admin-console-img">
                    </div>
                    <b>Users</b>
                    <!-- <span>Lorem ipsum dolor dummy text</span> -->
                </a>
            </div>
        </div>
        <div class="col m4 l2">
            <div class="admin-console-item center">
                <a routerLink="/task-types">
                    <div class="match-height">
                        <img src="assets/images/task-type.png" class="responsive-img admin-console-img" width="78" alt="admin-console-img">
                    </div>
                    <b>Task Types</b>
                    <!-- <span>Lorem ipsum dolor dummy text</span> -->
                </a>
            </div>
        </div>
    </div>
</section>