<!--<div class="row-centered">
    <div class="col-md-6 col-centered">
        <form name="loginForm">
            <input class="" placeholder="User Name" ng-model="UserName" />
            <input placeholder="Password" ng-model="Password" />
            <input type="submit" />
        </form>
    </div>
</div>-->


<div class="container" ng-controller="authController">
    <p></p>
    <p><br /></p>
    <p><br /></p>
   
        <div class="container">
           Updating authentication info...
        </div>
   
      

        <!--<div class="log-in row-centered">
            <div class="col-centered col-md-6" style="
        padding: 35px;
        background: #fff;">
                <div class="modal-header">
                    <h1 class="login-head">Login</h1>
                </div>
                <div class="">
                    <form name="myForm" novalidate="" class="ng-pristine ng-binding ng-invalid ng-invalid-required">
                        <fieldset class="form-group">
                            <input id="foobar" name="foobar" type="text" placeholder="" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required col-md-6" data-ng-model="loginData.userName" required="">
                            <span class="error-message ng-hide" ng-show="visible">This field is required.</span>
                        </fieldset>
                        <fieldset class="form-group">
                            <input type="password" placeholder="" class="form-control ng-pristine ng-untouched ng-valid ng-empty" data-ng-model="loginData.password">
                        </fieldset>
                        <div class="remember-me" id="check-awesome">
                            <p style="float:left">
                                <input type="checkbox" id="check-me">
                                <label for="check-me">
                                    <span class="circle"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    Remember me
                                </label>
                            </p>
                            <a href="#" style="float:right">Forgot your Password ?</a>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-primary lead-add-btn" data-ripple-color="#F15700" ng-click="login()" ng-disabled="loadingLogin"> <i ng-show="loadingLogin" class="fa fa-spinner fa-spin ng-animate-disabled"></i>  Login</button>
                        </div>
                        <div class="col-md-9 message">{{message}}</div>
                    </form>

                </div>
            </div>
        </div>-->
    </div>
