<div class="left-window">
  <div class="left-window-header">
    <span class="left-each-item-header">Search Country</span>
  </div>
  <div class="divider"></div>
  <div class="input-field left-search-box seach-box">
    <input type="text" class="validate" placeholder="Search Country" name="Keywords" (keyup.enter)="GetAllCountries(searchFilter)"
      [(ngModel)]="searchFilter.Keywords">
    <a class="btn search-btn" (click)="GetAllCountries(searchFilter)">
      <i class="material-icons">search</i>
    </a>
  </div>
  <div class="clearfix"></div>
</div>
<div class="right-window ">
  <div class="common-table user-table">
    <table class="striped" matSort (matSortChange)="sortData($event)">
      <thead>
        <tr class="t-header">
          <th mat-sort-header="CountryName">Country Name</th>
          <th mat-sort-header="CountryCode">Country Code</th>
          <th mat-sort-header="IsActive">Active</th>
          <th mat-sort-header="CreatedUser">Created by</th>
          <th mat-sort-header="CreatedOn">Created on</th>
          <th mat-sort-header="Updateduser">Updated By</th>
          <th mat-sort-header="UpdatedOn">Updated On</th>
          <th class="edit-delete-th">active</th>
        </tr>
      </thead>
      <tbody>
        <tr class="hidden-tr">
          <td></td>
        </tr>
        <tr class="hidden-tr">
          <td></td>
        </tr>
        <tr *ngFor="let Country of countries; let i = index">
          <td>
            <a href="#details-country-mod" (click)="edit(Country.Id)">
              {{Country.CountryName}}
            </a>
          </td>
          <td>{{Country.CountryCode}}</td>
          <td>
            <p>
              <input type="checkbox" class="filled-in" id="filled-in-box-{{i}}" [checked]="Country.IsActive" disabled="disabled">
              <label for="filled-in-box-{{i}}"></label>
            </p>
          </td>
          <td>{{Country.CreatedUser}}</td>
          <td>{{Country.CreatedOn | date: 'MM/dd/yyyy hh:mm:ss a'}}</td>
          <td>{{Country.Updateduser}}</td>
          <td>{{Country.UpdatedOn | date: 'MM/dd/yyyy hh:mm:ss a'}}</td>
          <td>
            <div mat-icon-button [matMenuTriggerFor]="appMenu" class='dropdown-button btn edit-delete-btn'>
              <img src="assets/images/dots-icon.png" class="responsive-img" width="10" alt="dots-icon">
            </div>
            <mat-menu #appMenu="matMenu">
              <ul class='dropdown-content-menu edit-delete-dropdown'>
                <li>
                  <a href="#edit-country-mod" (click)="edit(Country.Id)">
                    Edit
                  </a>
                </li>
                <li>
                  <a href="#details-country-mod" (click)="edit(Country.Id)">
                    Details
                  </a>
                </li>
                <li>
                  <a href="#" (click)="d1.open(); delete(Country.Id)">
                    Delete
                  </a>
                </li>
              </ul>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>
    <mat-paginator *ngIf="countries?.length > 0" [length]="pageSize" [pageSize]="25" [pageSizeOptions]="[25,50,100,150,200]"
      (page)="pageEvent = $event; GetAllCountries(searchFilter, false)"></mat-paginator>
  </div>
</div>

<div class="modal-button">
  <div class="fixed-action-btn">
    <div class=" mdl-fab-btn-wrap">
      <span class="mdl-fab-txt">Add</span>
      <a class="btn btn-floating btn-large sky-blue-color " href="#create-country-mod" (click)="openCreate()">
        <i class="large material-icons">add</i>
      </a>
    </div>
  </div>
</div>

<div class="all-modals">
  <!-- create -->
  <div id="create-country-mod" class="modal common-modal crt-role-modal">
    <form #frmAddCountry="ngForm">
      <div class="modal-content">
        <h4>Create Country</h4>
        <div class="modal-close-btn right">
          <img src="assets/images/close-icon.png" class="responsive-img  modal-close " width="9" alt="close-icon">
        </div>
        <div class="row">
          <mat-form-field class="input-field col s12 pad-lft-zero">
            <input type="text" matInput class="exclude-default-style" placeholder="Country Name" name="CountryName" [(ngModel)]="newCountryModel.CountryName"
              required>
          </mat-form-field>
          <mat-form-field class="input-field col s12 pad-lft-zero">
            <input type="text" matInput class="exclude-default-style" placeholder="Country Code" name="CountryCode" [(ngModel)]="newCountryModel.CountryCode"
              required>
          </mat-form-field>
          <div class="row s12 pad-lft-zero">
            <mat-checkbox name="IsActive" [(ngModel)]="newCountryModel.IsActive">IsActive</mat-checkbox>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="modal-action waves-effect waves-green btn-flat modal-crt-btn" (click)="create(newCountryModel)" [disabled]="!frmAddCountry.form.valid">Create</button>
      </div>
    </form>
  </div>

  <!-- Edit -->
  <div id="edit-country-mod" class="modal common-modal crt-role-modal">
    <form #frmEditCountry="ngForm">
      <div class="modal-content">
        <h4>Edit Country</h4>
        <div class="modal-close-btn right">
          <img src="assets/images/close-icon.png" class="responsive-img  modal-close " width="9" alt="close-icon">
        </div>
        <div class="row">
          <mat-form-field class="input-field col s12 pad-lft-zero">
            <input type="text" matInput class="exclude-default-style" placeholder="Country Name" name="CountryName" [(ngModel)]="newCountryModel.CountryName"
              required>
          </mat-form-field>
          <mat-form-field class="input-field col s12 pad-lft-zero">
            <input type="text" matInput class="exclude-default-style" placeholder="Country Code" name="CountryCode" [(ngModel)]="newCountryModel.CountryCode"
              required>
          </mat-form-field>
          <div class="row s12 pad-lft-zero">
            <mat-checkbox name="IsActive" [(ngModel)]="newCountryModel.IsActive">IsActive</mat-checkbox>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="modal-action waves-effect waves-green btn-flat modal-crt-btn" (click)="update(newCountryModel)" [disabled]="!frmEditCountry.form.valid">Update</button>
      </div>
    </form>
  </div>

  <!-- Details -->
  <div id="details-country-mod" class="modal common-modal crt-role-modal">
    <div class="modal-content">
      <div class="detail-page-wrapper">
        <h3 class="details-header">
          <span>Country </span> Details</h3>
        <div class="det-modal-close-btn right">
          <img src="assets/images/white-close-icon.png" class="responsive-img  modal-close " width="20" alt="close-icon">
        </div>
        <div class="each-detail">
          <b class="dtl-itm-hdr">Country Code</b>
          <span class="dtl-itm-vlue">{{newCountryModel.CountryCode}}</span>
        </div>
        <div class="each-detail">
          <b class="dtl-itm-hdr">Country Name</b>
          <span class="dtl-itm-vlue">{{newCountryModel.CountryName}}</span>
        </div>
        <div class="each-detail">
          <b class="dtl-itm-hdr">IsActive</b>
          <span class="dtl-itm-vlue">
            <input type="checkbox" class="filled-in" name="CountryIsActive" id="CountryIsActive" [checked]="newCountryModel.IsActive"
              disabled="disabled">
            <label for="CountryIsActive"></label>
          </span>
        </div>
        <div class="each-detail">
          <b class="dtl-itm-hdr">Created On</b>
          <span class="dtl-itm-vlue">{{newCountryModel.CreatedOn | date: 'MM/dd/yyyy hh:mm:ss a'}}</span>
        </div>
        <div class="each-detail">
          <b class="dtl-itm-hdr">Updated On</b>
          <span class="dtl-itm-vlue">{{newCountryModel.UpdatedOn | date: 'MM/dd/yyyy hh:mm:ss a'}}</span>
        </div>
        <div class="each-detail">
          <b class="dtl-itm-hdr">Created By</b>
          <span class="dtl-itm-vlue">{{newCountryModel.CreatedUser}}</span>
        </div>
        <div class="each-detail">
          <b class="dtl-itm-hdr">Updated By</b>
          <span class="dtl-itm-vlue">{{newCountryModel.Updateduser}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete -->
<eui-dialog #d1 panelCls="mydlg" headerCls="mydlg-header" footerCls="mydlg-footer" [modal]="true" borderType="none" closed="true">
  <eui-panel-header>Please Confirm</eui-panel-header>
  <p style="text-align:center;margin:50px 0;font-size:16px">Are you sure you want to continue?</p>
  <eui-panel-footer>
    <eui-button-group style="width:100%;height:50px">
      <eui-linkbutton class="f-full" [plain]="true" btnCls="mybtn" (click)="d1.close();deleteConfirm()">Yes</eui-linkbutton>
      <eui-linkbutton class="f-full" [plain]="true" btnCls="mybtn" (click)="d1.close();">No</eui-linkbutton>
    </eui-button-group>
  </eui-panel-footer>
</eui-dialog>