<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="EmegenexBiz2016Entities" connectionString="metadata=res://*/Database.CCBizModel.csdl|res://*/Database.CCBizModel.ssdl|res://*/Database.CCBizModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.3.17.5;initial catalog=Crmstaging;user id=epmdev;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CrmstagingEntities" connectionString="metadata=res://*/Database.CCBizModel.csdl|res://*/Database.CCBizModel.ssdl|res://*/Database.CCBizModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.3.17.5;initial catalog=Crmstaging;user id=epmdev;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="CareConnectCrmEntities" connectionString="metadata=res://*/Database.CCBizModelNew.csdl|res://*/Database.CCBizModelNew.ssdl|res://*/Database.CCBizModelNew.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.0.22;initial catalog=Crmstaging;user id=emgenex;password=hubs2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <add name="CareConnectCrmEntities" connectionString="metadata=res://*/Database.CCBizModelNew.csdl|res://*/Database.CCBizModelNew.ssdl|res://*/Database.CCBizModelNew.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.3.17.5;initial catalog=Crmstaging;user id=epmdev;password=v0lcan0;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <!--<add name="CareConnectCrmEntities" connectionString="metadata=res://*/Database.CCBizModelNew.csdl|res://*/Database.CCBizModelNew.ssdl|res://*/Database.CCBizModelNew.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.3.17.5;initial catalog=CRMDEVDB;user id=epmdev;password=v0lcan0;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="CareConnectCrmEntities" connectionString="metadata=res://*/Database.CCBizModelNew.csdl|res://*/Database.CCBizModelNew.ssdl|res://*/Database.CCBizModelNew.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.3.17.5;initial catalog=crmprod;user id=crmprod;password=t0rnad0;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="CareConnectCrmEntities" connectionString="metadata=res://*/Database.CCBizModelNew.csdl|res://*/Database.CCBizModelNew.ssdl|res://*/Database.CCBizModelNew.msl;provider=System.Data.SqlClient;provider connection string=&quot; data source=USER\SQLEXPRESS;initial catalog=CRMStaging;user id=sa;password=sqladmin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="CareConnectCrmEntities" connectionString="metadata=res://*/Database.CCBizModelNew.csdl|res://*/Database.CCBizModelNew.ssdl|res://*/Database.CCBizModelNew.msl;provider=System.Data.SqlClient;provider connection string=&quot; data source=IT-SPACE;initial catalog=CRMStaging;user id=sa;password=krishna;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="BaseUrl" value="http://api.careconnect.com" />
  </appSettings>
</configuration>