<section class="admin-console">
    <div class="row">
        <div class="col m4 l2">
            <div class="admin-console-item center">
                <a routerLink="/business-profile">
                    <div class="match-height">
                        <img src="assets/images/business-profile.png" class="responsive-img admin-console-img" width="50" alt="admin-console-img">
                    </div>
                    <b>Business Profile</b>
                    <!-- <span>Lorem ipsum dolor dummy text</span> -->
                </a>
            </div>
        </div>
        <div class="col m4 l2">
            <div class="admin-console-item center">
                <a routerLink="/countries">
                    <div class="match-height">
                        <img src="assets/images/country.png" class="responsive-img admin-console-img" width="60" alt="admin-console-img">
                    </div>
                    <b>Countries</b>
                    <!-- <span>Lorem ipsum dolor dummy text</span> -->
                </a>
            </div>
        </div>
        <div class="col m4 l2">
            <div class="admin-console-item center">
                <a routerLink="/degrees">
                    <div class="match-height">
                        <img src="assets/images/degree.png" class="responsive-img admin-console-img" width="60" alt="admin-console-img">
                    </div>
                    <b>Degrees</b>
                    <!-- <span>Lorem ipsum dolor dummy text</span> -->
                </a>
            </div>
        </div>
        <div class="col m4 l2">
            <div class="admin-console-item center">
                <a routerLink="/leadsources">
                    <div class="match-height">
                        <img src="assets/images/lead-sources.png" class="responsive-img admin-console-img" width="60" alt="admin-console-img">
                    </div>
                    <b>Lead Sources</b>
                    <!-- <span>Lorem ipsum dolor dummy text</span> -->
                </a>
            </div>
        </div>
        <div class="col m4 l2">
            <div class="admin-console-item center">
                <a routerLink="/notification-types">
                    <div class="match-height">
                        <img src="assets/images/notification.png" class="responsive-img admin-console-img" width="78" alt="admin-console-img">
                    </div>
                    <b>Notification Types</b>
                    <!-- <span>Lorem ipsum dolor dummy text</span> -->
                </a>
            </div>
        </div>
        <div class="col m4 l2">
            <div class="admin-console-item center">
                <a routerLink="/practice-specialitytypes">
                    <div class="match-height">
                        <img src="assets/images/practice-speciality-types.png" class="responsive-img admin-console-img" width="60" alt="admin-console-img">
                    </div>
                    <b>Practice Speciality Types</b>
                    <!-- <span>Lorem ipsum dolor dummy text</span> -->
                </a>
            </div>
        </div>
        <div class="col m4 l2">
            <div class="admin-console-item center">
                <a routerLink="/practice-types">
                    <div class="match-height">
                        <img src="assets/images/practice-types.png" class="responsive-img admin-console-img" width="78" alt="admin-console-img">
                    </div>
                    <b>Practice Types</b>
                    <!-- <span>Lorem ipsum dolor dummy text</span> -->
                </a>
            </div>
        </div>
        <div class="col m4 l2">
            <div class="admin-console-item center">
                <a routerLink="/privileges">
                    <div class="match-height">
                        <img src="assets/images/privillages.png" class="responsive-img admin-console-img" width="78" alt="admin-console-img">
                    </div>
                    <b>Privileges</b>
                    <!-- <span>Lorem ipsum dolor dummy text</span> -->
                </a>
            </div>
        </div>
        <div class="col m4 l2">
            <div class="admin-console-item center">
                <a routerLink="/privilege-modules">
                    <div class="match-height">
                        <img src="assets/images/privillage-modules.png" class="responsive-img admin-console-img" width="78" alt="admin-console-img">
                    </div>
                    <b>Privilege Modules</b>
                    <!-- <span>Lorem ipsum dolor dummy text</span> -->
                </a>
            </div>
        </div>
        <div class="col m4 l2">
            <div class="admin-console-item center">
                <a routerLink="/states">
                    <div class="match-height">
                        <img src="assets/images/state.png" class="responsive-img admin-console-img" width="78" alt="admin-console-img">
                    </div>
                    <b>States</b>
                    <!-- <span>Lorem ipsum dolor dummy text</span> -->
                </a>
            </div>
        </div>
    </div>
</section>