
<style>
    .fa.fa-spinner.loader {
        right: 20px;
        position: absolute;
        top: 13px;
    }
</style>

<form name="accountForm" ng-submit="submitAccount()" novalidate class="{{accountForm.$pristine?'':'unsaved-form'}}">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="CloseModal()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Create a new account</h4>
    </div>
    <div class="modal-body-form">
        <div class="form-repeater-box">
            <h2>General Information</h2>
            <div class="row">
                <div class="col-sm-6 field-box">
                    <fieldset class="form-group">
                        <div class="dropdown">
                            <a class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="">
                                <div class='input-group date'>
                                    <input type="text" class="input-large form-control" ng-model="currentAccount.EnrolledDate|date:'MM-dd-yyyy'" required name="Enrolled Date" placeholder="Enrolled Date" placehold />
                                    <span class="input-group-addon">
                                        <img src="/Controlpanel/Content/images/date-picker.png" alt="Date" width="14">
                                    </span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker custom-class="isToday(date, mode)"
                                                data-ng-model="currentAccount.EnrolledDate"
                                                data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select', startView:'day', minView:'day' }"></datetimepicker>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>

            <input type="hidden" class="form-control" id="" placeholder="Practice Name" ng-model="currentAccount.LeadId">

            <div class="row">
                <div class="col-sm-6 field-box">
                    <fieldset class="form-group {{leadFormError.PracticeName == true?'error-input':''}}">
                        <input type="text" class="form-control" id="" name="Practice Name" placeholder="Practice Name" ng-model="currentAccount.PracticeName" required ng-minlength="5" ng-maxlength="50" maxlength="50" placehold>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 field-box">
                    <fieldset class="form-group {{leadFormError.SpecialityTypeId?'error-input':''}}">
                        <select class=" form-control" ui-select2="select2Options" placeholder="Speciality type" ng-model="currentAccount.SpecialityTypeId" ng-options="selectedItem.Id as selectedItem.Value for selectedItem in lookUps.lookupPracticeType" placehold>
                            <option value="" selected>Select Speciality type</option>
                            <option ng-repeat="tag in lookUps.lookupPracticeType" value="{{tag.Id}}" ng-selected="tag.Id==currentAccount.SpecialityTypeId">{{tag.Value}}</option>
                        </select>
                    </fieldset>
                </div>

                <div class="col-sm-6 field-box">

                    <fieldset ng-show="currentAccount.SpecialityTypeId==2" class="form-group {{leadFormError.SpecialityIds?'error-input':''}}">
                        <select class="form-control" style="width: 400px;" ui-select2 multiple ng-model="currentAccount.SpecialityIds" data-placeholder="Select Specialities" placeholder="Specialities" placehold>
                            <option ng-repeat="tag in lookUps.lookupSpecialities" value="{{tag.Id}}">{{tag.Value}}</option>
                        </select>

                    </fieldset>
                    <fieldset ng-show="currentAccount.SpecialityTypeId==1" class="form-group error-input">
                        <select class="form-control" style="width: 400px;" ui-select2 ng-model="currentAccount.SpecialityId" data-placeholder="Select Speciality" placeholder="Speciality" ng-options="selectedItem.Id as selectedItem.Value for selectedItem in lookUps.lookupSpecialities" placehold>
                            <option value="" selected>Select Speciality</option>
                        </select>
                    </fieldset>
                    <fieldset ng-show="currentAccount.SpecialityTypeId==3" class="form-group error-input">
                        <input type="text" class="form-control" id="" placeholder="New speciality" ng-model="currentAccount.NewSpectialityName">
                    </fieldset>
                </div>
            </div>
          
        </div>
        <div class="form-repeater-box">
            <h2>Primary Location</h2>
            <div class="row">
                <div class="col-sm-6 field-box">
                    <fieldset class="form-group">
                        <input type="text" class="form-control" name="Address Line 1" placeholder="Address Line 1" ng-model="currentAccount.PracticeAddressLine1" required placehold>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 field-box">
                    <fieldset class="form-group">
                        <input type="text" class="form-control" placeholder="Address Line 2" ng-model="currentAccount.PracticeAddressLine2" placehold>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 field-box">
                    <fieldset class="form-group">
                        <input type="text" class="form-control" id="" name="City" placeholder="City" ng-model="currentAccount.City" required placehold>
                    </fieldset>
                </div>
                <div class="col-sm-4 field-box">
                    <fieldset class="form-group">
                        <select class="form-control" data-placeholder="Select State" name="State" placeholder="State" required ng-model="currentAccount.StateId" ng-options="selectedItem.Id as selectedItem.Value for selectedItem in lookUps.lookupStates" placehold>
                            <option value="">Select State</option>
                        </select>
                    </fieldset>
                </div>
                <div class="col-sm-4 field-box">
                    <fieldset class="form-group">
                        <input type="text" class="form-control" name="Zip Code" placeholder="Zip Code" required ng-model="currentAccount.Zip" ui-mask="99999" ui-mask-placeholder ui-mask-placeholder-char="_" placehold>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 field-box">
                    <fieldset class="form-group">
                        <input type="tel" class="form-control" name="Phone Number" placeholder="Phone Number" required ng-model="currentAccount.PhoneNumber" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" placehold>
                    </fieldset>
                </div>
                <div class="col-sm-4 field-box">
                    <fieldset class="form-group">
                        <input type="tel" class="form-control" placeholder="Ext" ng-model="currentAccount.PhoneExtension" maxlength="10" placehold>
                    </fieldset>
                </div>
                <div class="col-sm-4 field-box">
                    <fieldset class="form-group">
                        <input type="tel" class="form-control" placeholder="Fax" ng-model="currentAccount.Fax" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" placehold>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="form-repeater-box">
            <h2>Primary contact</h2>
            <div class="row">
                <div class="col-sm-4 field-box">
                    <fieldset class="form-group">
                        <input type="text" class="form-control" id="" placeholder="Manager name" ng-model="currentAccount.ManagerName" placehold>
                    </fieldset>
                </div>
                <div class="col-sm-4 field-box">
                    <fieldset class="form-group">
                        <input type="email" class="form-control" id="" placeholder="Manager email" ng-model="currentAccount.ManagerEmail" placehold>
                    </fieldset>
                </div>
                <div class="col-sm-4 field-box">
                    <fieldset class="form-group">
                        <input type="tel" class="form-control" id="" placeholder="Manager phone" ng-model="currentAccount.ManagerPhone" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" placehold>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 field-box">
                    <fieldset class="form-group">
                        <input type="text" class="form-control" id="" placeholder="Billing contact" ng-model="currentAccount.BillingContact" placehold>
                    </fieldset>
                </div>
                <div class="col-sm-4 field-box">
                    <fieldset class="form-group">
                        <input type="email" class="form-control" id="" placeholder="Billing contact email" ng-model="currentAccount.BillingContactEmail" placehold>
                    </fieldset>
                </div>
                <div class="col-sm-4 field-box">
                    <fieldset class="form-group">
                        <input type="tel" class="form-control" id="" placeholder="Billing contact phone" ng-model="currentAccount.BillingContactPhone" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" placehold>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 field-box">
                    <fieldset class="form-group">
                        <select ui-select2 class="form-control" ng-model="currentAccount.MethodOfContact" data-placeholder="Preferred method of contact"
                                placeholder="Preferred method of contact" ng-options="selectedItem.Id as selectedItem.Value for selectedItem in prefferedMethods" placehold></select>
                    </fieldset>
                </div>

                <div class="col-sm-6 field-box">
                    <fieldset class="form-group">
                        <input type="text" class="form-control" placeholder="Office Days/Hrs" ng-model="currentAccount.WorkingHours" placehold>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="form-repeater-box">
            <h2>Services</h2>

            <div class="row">
                <div class="col-sm-6 field-box">
                    <fieldset class="form-group">
                        <select class="form-control" ui-select2 multiple required ng-model="currentAccount.EnrolledServices" name="Enrolled Services" data-placeholder="Enrolled Services" placeholder="Enrolled Services" ng-options="selectedItem.Id.toString() as selectedItem.Value for selectedItem in lookUps.lookupServices" placehold>
                            <option value="">Select Enrolled services</option>
                        </select>
                    </fieldset>
                </div>

                <div class="col-sm-6 field-box">
                    <fieldset class="form-group">
                        <input type="email" class="form-control" name="Report delivery email" placeholder="Report delivery email" ng-model="currentAccount.ReportDeliveryEmail" placehold
                               ng-required="((currentAccount.ReportDeliveryEmail==null || currentAccount.ReportDeliveryEmail=='') && (currentAccount.ReportDeliveryFax==null || currentAccount.ReportDeliveryFax==''))">
                    </fieldset>
                </div>

                <div class="col-sm-6 field-box">
                    <fieldset class="form-group">
                        <input type="text" class="form-control" name="Report delivery fax" placeholder="Report delivery fax" ng-model="currentAccount.ReportDeliveryFax"
                               ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" placehold
                               ng-required="((currentAccount.ReportDeliveryEmail==null || currentAccount.ReportDeliveryEmail=='') && (currentAccount.ReportDeliveryFax==null || currentAccount.ReportDeliveryFax==''))">
                    </fieldset>
                </div>
            </div>

        </div>

        <div class="form-repeater-box">
            <h2>Additional Locations</h2>
            <div class="repeatingsection-location" ng-repeat="location in currentAccount.Locations">

                <div class="row">
                    <div class="col-sm-6 field-box">
                        <fieldset class="form-group">
                            <input type="text" class="form-control" id="" name="Address Line1 in additional location {{$index+1}}" placeholder="Address Line 1" ng-model="currentAccount.Locations[$index].AddressLine1" required placehold />

                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 field-box">
                        <fieldset class="form-group">
                            <input type="text" class="form-control" id="" placeholder="Address Line 2" ng-model="currentAccount.Locations[$index].AddressLine2" placehold>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 field-box">
                        <fieldset class="form-group">
                            <input type="text" class="form-control" id="" name="City in additional location {{$index+1}}" placeholder="City" ng-model="currentAccount.Locations[$index].City" required placehold>
                        </fieldset>
                    </div>
                    <div class="col-sm-4 field-box">
                        <fieldset class="form-group">
                            <select ui-select2 class="form-control" ng-model="currentAccount.Locations[$index].StateId" data-placeholder="Select State" name="State in additional location {{$index+1}}" placeholder="State"
                                    ng-options="selectedItem.Id as selectedItem.Value for selectedItem in lookUps.lookupStates" required placehold>
                                <option value="" selected>Select State</option>
                            </select>
                        </fieldset>
                    </div>
                    <div class="col-sm-4 field-box">
                        <fieldset class="form-group">
                            <input type="text" class="form-control" id="" placeholder="Zip Code" name="Zip Code in additional location {{$index+1}}" ng-model="currentAccount.Locations[$index].Zip" ui-mask="99999" ui-mask-placeholder ui-mask-placeholder-char="_" required placehold>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 field-box">
                        <fieldset class="form-group">
                            <input type="tel" class="form-control" id="" name="Phone Number in additional location {{$index+1}}" placeholder="Phone Number" ng-model="currentAccount.Locations[$index].PhoneNumber" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" required placehold>
                        </fieldset>
                    </div>
                    <div class="col-sm-4 field-box">
                        <fieldset class="form-group">
                            <input type="tel" class="form-control" id="" placeholder="Ext" ng-model="currentAccount.Locations[$index].Extension" maxlength="10" placehold>
                        </fieldset>
                    </div>
                    <div class="col-sm-4 field-box">
                        <fieldset class="form-group">
                            <input type="tel" class="form-control" placeholder="Fax" ng-model="currentAccount.Locations[$index].Fax" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" placehold>
                        </fieldset>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4 field-box">
                        <fieldset class="form-group">
                            <input type="text" class="form-control" id="" placeholder="Manager name" ng-model="currentAccount.Locations[$index].ManagerName" placehold>
                        </fieldset>
                    </div>
                    <div class="col-sm-4 field-box">
                        <fieldset class="form-group">
                            <input type="email" class="form-control" id="" placeholder="Manager email" ng-model="currentAccount.Locations[$index].ManagerEmail" placehold>
                        </fieldset>
                    </div>
                    <div class="col-sm-4 field-box">
                        <fieldset class="form-group">
                            <input type="tel" class="form-control" id="" placeholder="Manager phone" ng-model="currentAccount.Locations[$index].ManagerPhone" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" placehold>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 field-box">
                        <fieldset class="form-group">
                            <input type="text" class="form-control" id="" placeholder="Billing contact" ng-model="currentAccount.Locations[$index].BillingContact" placehold email>
                        </fieldset>
                    </div>
                    <div class="col-sm-4 field-box">
                        <fieldset class="form-group">
                            <input type="email" class="form-control" id="" placeholder="Billing contact email" ng-model="currentAccount.Locations[$index].BillingContactEmail" placehold>
                        </fieldset>
                    </div>
                    <div class="col-sm-4 field-box">
                        <fieldset class="form-group">
                            <input type="tel" class="form-control" id="" placeholder="Billing contact phone" ng-model="currentAccount.Locations[$index].BillingContactPhone" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" placehold>
                        </fieldset>
                    </div>
                </div>
                <input type="hidden" ng-init="currentAccount.Locations[$index].AddressIndex=$index" name="AddressIndex" ng-model="currentAccount.Locations[$index].AddressIndex" />

                <a ng-click="removeLocation($index)" class="cancel-location remove-repeat">- Remove Location <i ng-show="addLocationLoading" class="fa fa-spinner fa-spin"></i></a>
            </div>

            <a ng-click="newLocation()" class="add-location add-repat">+ Add Location <i ng-show="addLocationLoading" class="fa fa-spinner fa-spin"></i></a>
        </div>
        <div class="form-repeater-box">
            <h2>Provider</h2>
            <div class="repeatingsection-provider {{leadFormError.Providers?'error-input':''}}" ng-repeat="provider in currentAccount.Providers">
                <input type="hidden" ng-model="currentAccount.Providers[$index].Id" />
                <span style="color:red;    display: block;padding-bottom: 10px;" ng-show="currentLead.Providers[$index].ErroMessage">Invalid NPI</span>
                <div class="row">
                    <div class="col-sm-12 field-box">
                        <fieldset class="form-group">
                            <input type="text" required class="form-control" ng-change="getProvider(currentAccount.Providers[$index])" name="NPI# in Provider {{$index+1}}" placeholder=" npi#" ng-model="currentAccount.Providers[$index].NPI" ui-mask="9999999999" ui-mask-placeholder ui-mask-placeholder-char="_" placehold>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 field-box">
                        <fieldset class="form-group">
                            <input type="text" class="form-control" name="First Name in Provider {{$index+1}}" placeholder="First Name" ng-model="currentAccount.Providers[$index].FirstName" required placehold disabled />
                            <i ng-show="currentAccount.Providers[$index].Loader" class="fa fa-spinner fa-spin ng-animate-disabled loader"></i>
                        </fieldset>
                    </div>
                    <div class="col-sm-4 field-box">

                        <fieldset class="form-group">
                            <input type="text" class="form-control" placeholder="Middle Name" ng-model="currentAccount.Providers[$index].MiddleName" placehold disabled />
                            <i ng-show="currentAccount.Providers[$index].Loader" class="fa fa-spinner fa-spin ng-animate-disabled loader"></i>
                        </fieldset>
                    </div>
                    <div class="col-sm-4 field-box">
                        <fieldset class="form-group">
                            <input type="text" class="form-control" name="last name in Provider {{$index+1}}" placeholder="Last Name" ng-model="currentAccount.Providers[$index].LastName" required placehold disabled />
                            <i ng-show="currentAccount.Providers[$index].Loader" class="fa fa-spinner fa-spin ng-animate-disabled loader"></i>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 field-box">
                        <fieldset class="form-group">
                            <select class="form-control" required ng-model="currentAccount.Providers[$index].DegreeId" data-placeholder="Select degree" name="Degree in Provider {{$index+1}}" placeholder="Degree" ng-options="selectedItem.Id as selectedItem.Value for selectedItem in lookUps.lookupProviderDegree" placehold>
                                <option value="">Select Degree</option>
                            </select>
                            <i ng-show="currentAccount.Providers[$index].Loader" class="fa fa-spinner fa-spin ng-animate-disabled loader"></i>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 field-box">
                        <div class="radio">
                            <span class="same-loctn-title">Provider at primary location</span>
                            <label class="md-radio-group" for="pRadio5{{$index}}">
                                <input type="radio" name="IsPracticeLoc{{$index}}" id="pRadio5{{$index}}" class="md-radiobox" value="1" checked="checked" ng-model="currentAccount.Providers[$index].IsPracticeLoc" />
                                <span class="md-check-radio"></span>Yes
                            </label>
                            <label class="md-radio-group" for="pRadio6{{$index}}">
                                <input type="radio" name="IsPracticeLoc{{$index}}" id="pRadio6{{$index}}" class="md-radiobox" value="0" ng-model="currentAccount.Providers[$index].IsPracticeLoc" />
                                <span class="md-check-radio"></span>No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="currentAccount.Providers[$index].IsPracticeLoc==0">
                    <div class="col-sm-12 field-box">
                        <fieldset class="form-group">

                            <!--{{currentAccount.Locations}}-->
                            <select ui-select2 placehold class="form-control" ng-model="currentAccount.Providers[$index].Location" data-placeholder="Select Location" name="Location in provider {{$index+1}}" placeholder="Location"
                                    ng-options="selectedItem as (formatAddress(selectedItem)) for selectedItem in currentAccount.Locations track by selectedItem.AddressId" ng-required="currentAccount.Providers[$index].IsPracticeLoc==0">
                                <option value="" disabled="" selected="" hidden="">Select location</option>
                            </select>
                        </fieldset>
                    </div>
                </div>
                <a ng-click="removeProvider($index)" class="cancel-provider remove-repeat" ng-show="currentAccount.Providers.length>1">- Remove Provider <i ng-show="removeProviderLoading" class="fa fa-spinner fa-spin"></i></a>
            </div>
            <a ng-click="newProvider()" class="add-provider add-repat">+ Add Provider <i ng-show="addProviderLoading" class="fa fa-spinner fa-spin"></i></a>
        </div>
        <div class="form-repeater-box" ng-show="showByPrevilege('WRREP')">
            <h2>Additional Details</h2>
            <div class="repeatingsection-provider" ng-show="showByPrevilege('WRREP')">
                <div class="row">
                    <div class="col-sm-6 field-box">
                        <fieldset class="form-group">
                            <select ui-select2 placehold class="form-control" ng-required="showByPrevilege('WRREP')" ng-model="currentAccount.RepGroupId" data-placeholder="Select Sales Team" name="Sales Team" placeholder="Sales Team" ng-options="selectedItem.Id as selectedItem.Value for selectedItem in lookUps.lookupGroups">
                                <option value="" selected>
                                    Select Sales Team
                                </option>
                            </select>
                        </fieldset>
                    </div>
                    <div class="col-sm-6 field-box">
                        <fieldset class="form-group">
                            <select ui-select2 placehold class="form-control" ng-required="showByPrevilege('WRREP')" ng-model="currentAccount.RepId" data-placeholder="Select Rep" name="Rep" placeholder="Rep" ng-options="selectedItem.Id as selectedItem.Value for selectedItem in lookUps.lookupReps| filter: currentAccount.RepGroupId && { ParentId: currentAccount.RepGroupId } : true">
                                <option value="" disabled="" selected>Select Reps</option>
                            </select>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-form-submit" ng-disabled="accountSubmitting">Submit <i ng-show="accountSubmitting" class="fa fa-spinner fa-spin"></i></button>
    </div>
</form>

