<div class="row ">
    <div class="col-lg-5 col-sm-12 leads-result">
        <i ng-show="leadLoading || loadingEdit" class="fa fa-spinner fa-spin ng-animate-disabled"></i>{{model.Pager.TotalCount| number}} Leads <span style="font-family:inherit" ng-show="affectedFilterCount>0"> matching <span>{{affectedFilters.join(' | ')}}</span></span>
    </div>
    <div class="col-lg-7 col-sm-12">
        <div class="row">
            <div class="col-lg-6 col-sm-6 add-lnk-outerwrap">
                <div class="pull-right add-lnk-wrp" ng-show="showByPrevilege('WRLD')">
                    <a ng-click="newLead()" class="btn btn-primary lead-add-btn"><i ng-show="addingLead" class="fa fa-spinner fa-spin ng-animate-disabled"></i><span ng-hide="addingLead">+</span> Add Lead</a>
                </div>
                <a class="btn btn-primary pull-right filter-toggle-btn" ng-click="toggleFilter();"><i class="fa fa-filter"></i> Filter</a>
                <div class="btn-group pull-right filter-toggle-check" data-toggle="buttons-checkbox">
                    <button class="btn" id="colors-1-toggle-1" uib-tooltip="Task associated with account" tooltip-placement="bottom">
                        <img src="/Controlpanel/Content/images/{{leadFilter.HasTask==true?'blue':'grey'}}-round-tick.png" alt="" width="26" class="bottom-icon" ng-click="((leadFilter.HasTask==false)||(leadFilter.HasTask==null))?leadFilter.HasTask=true:leadFilter.HasTask=null" />
                    </button>
                    <button class="btn active" uib-tooltip="Flag" tooltip-placement="bottom">
                        <img src="/Controlpanel/Content/images/{{leadFilter.HasFlag==true?'red':'grey'}}-flag.png" alt="" width="26" class="bottom-icon" ng-click="((leadFilter.HasFlag==false)||(leadFilter.HasFlag==null))?leadFilter.HasFlag=true:leadFilter.HasFlag=null" />
                    </button>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 srch-bx">
                <div class="pull-left input-group search-lead">
                    <input class="form-control" placeholder="Search Leads" name="" id="" type="text" ng-model="leadFilter.KeyWords" clearable>
                    <div class="input-group-btn">
                        <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="pull-right dropdown" uib-dropdown>
                    <a class="settings-icon" uib-dropdown-toggle><i class="fa fa-cog"></i></a>
                    <ul class="dropdown-menu dropdown-menu-form" uib-dropdown-menu>
                        <li><h3>Visible Columns</h3></li>
                        <li>
                            <div class="checkbox"><input type="checkbox" id="checkboxS1" ng-model="show.Name"><label for="checkboxS1"></label><span class="select-title">Name</span></div>
                        </li>
                        <li>
                            <div class="checkbox"><input type="checkbox" id="checkboxS2" ng-model="show.Age"><label for="checkboxS2"></label><span class="select-title">Lead Age</span></div>
                        </li>
                        <li>
                            <div class="checkbox"><input type="checkbox" id="checkboxS3" ng-model="show.Group"><label for="checkboxS3"></label><span class="select-title">Sales Team</span></div>
                        </li>
                        <li>
                            <div class="checkbox"><input type="checkbox" id="checkboxS4" ng-model="show.Rep"><label for="checkboxS4"></label><span class="select-title">Rep Name</span></div>
                        </li>
                        <li>
                            <div class="checkbox"><input type="checkbox" id="checkboxS5" ng-model="show.Status"><label for="checkboxS5"></label><span class="select-title">Status</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>