@model EmgenexBusinessPortal.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "BusinessChangePasswordVerification";
    Layout = null;
}
<style>
    .Remembercheckbox {
        text-align: center;
        font-size: 18px;
        color: #4c4c4c;
    }

        .Remembercheckbox label, .radio label {
            min-height: 20px;
            padding-left: 20px;
            margin-bottom: 0;
            font-weight: 400;
            cursor: pointer;
        }
</style>

<link href="/Controlpanel/Content/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
<link href="/Content/style.css" rel="stylesheet" />
<div class="container">
    <div class="common-login-page">
        <div class="careconnect-logo">
            <a href="#"><img src="@Model.BusinessLogo" onerror="this.src='/Assets/Logo_Not_Available.jpg';" class="img-responsive"></a> @Model.BusinessName Login
        </div>
            <div class="common-login-form">
                <div class="form-group">
                    <p align="center">
                        <h4>Please check your email to change your password.</h4>
                    </p>
                </div>
            </div>
        <span class="copy"><a href="#"><img src="/Controlpanel/Content/images/careconnect-logo.png" class="img-responsive"></a></span>
    </div>
</div>