
@{
    ViewBag.Title = "Change Password Confirmation";
    Layout = null;
}
<link href="/Controlpanel/Content/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
<link href="/Content/style.css" rel="stylesheet" />
<div class="container">
    <div class="common-login-page">
        <div class="careconnect-logo">
            <a href="#"><img src="/Controlpanel/Content/images/careconnect-logo.png" class="img-responsive"></a>
             CRM
        </div>
        <div class="common-login-form">
            <div class="form-group">
                <p align="center">
                    Your password has been reset. Please @Html.ActionLink("click here to log in", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </div>
        <span class="copy">
            Copyright © @DateTime.UtcNow.Year CareConnect Systems.<br /> All rights reserved.
        </span>
    </div>
</div>

