<style>
  select {
    display: block!important;
    border-top: 0px !important;
    border-bottom: 1px solid #cfcfcf;
    border-left: 0px !important;
    border-right: 0px !important;
    outline: none;
    margin-top: 10px;
  }
</style>

<div class="left-window">
  <div class="left-window-header">
    <span class="left-each-item-header">Search Privilege</span>
  </div>
  <div class="divider"></div>
  <div class="input-field left-search-box seach-box">
    <input type="text" class="validate" placeholder="Search Privilege" name="Keywords" (keyup.enter)="getAllPrivilege(searchFilter)"
      [(ngModel)]="searchFilter.KeyWords">
    <a class="btn search-btn" (click)="getAllPrivilege(searchFilter)">
      <i class="material-icons">search</i>
    </a>
  </div>
  <div class="clearfix"></div>
</div>
<div class="right-window ">
  <div class="common-table user-table">
    <table class="striped" matSort (matSortChange)="sortData($event)">
      <thead>
        <tr class="t-header">
          <th mat-sort-header="Title">Title</th>
          <th mat-sort-header="PrivilegeKey">PrivilegeKey</th>
          <th mat-sort-header="Module">Module</th>
          <th class="edit-delete-th">active</th>
        </tr>
      </thead>
      <tbody>
        <tr class="hidden-tr">
          <td></td>
        </tr>
        <tr class="hidden-tr">
          <td></td>
        </tr>
        <tr *ngFor="let Privilege of privileges; let i = index">
          <td>
            <a href="#details-privileges-mod" (click)="edit(Privilege.Id)">
              {{Privilege.Title}}
            </a>
          </td>
          <td>{{Privilege.PrivilegeKey}}</td>
          <td>{{Privilege.Module}}</td>
          <td>
            <a class='dropdown-button btn edit-delete-btn' href='#' attr.data-activates='dropdown-{{i}}' (mouseenter)="mouseEnter()">
              <img src="assets/images/dots-icon.png" class="responsive-img" width="10" alt="dots-icon">
            </a>
            <ul id='dropdown-{{i}}' class='dropdown-content edit-delete-dropdown'>
              <li>
                <a href="#edit-privileges-mod" (click)="edit(Privilege.Id)">
                  Edit
                </a>
              </li>
              <li>
                <a href="#details-privileges-mod" (click)="edit(Privilege.Id)">
                  Details
                </a>
              </li>
              <li>
                <a href="#" (click)="d1.open(); delete(Privilege.Id)">
                  Delete
                </a>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    <mat-paginator *ngIf="privileges?.length > 0" [length]="pageSize" [pageSize]="25" [pageSizeOptions]="[25,50,100,150,200]"
      (page)="pageEvent = $event; getAllPrivilege(searchFilter, false)"></mat-paginator>
  </div>
</div>

<div class="modal-button">
  <div class="fixed-action-btn">
    <div class=" mdl-fab-btn-wrap">
      <span class="mdl-fab-txt">Add</span>
      <a class="btn btn-floating btn-large sky-blue-color " href="#create-privileges-mod" (click)="openCreate()">
        <i class="large material-icons">add</i>
      </a>
    </div>
  </div>
</div>

<div class="all-modals">
  <!-- create -->
  <div id="create-privileges-mod" class="modal common-modal crt-role-modal">
    <form #frmAddPrivileges="ngForm">
      <div class="modal-content">
        <h4>Create Privilege</h4>
        <div class="modal-close-btn right">
          <img src="assets/images/close-icon.png" class="responsive-img  modal-close " width="9" alt="close-icon">
        </div>
        <div class="row">
          <mat-form-field class="input-field col s12 pad-lft-zero pad-rht-zero">
            <input type="text" matInput class="exclude-default-style" placeholder="Title" name="Title" [(ngModel)]="newPrivilegeModel.Title"
              required>
          </mat-form-field>
          <mat-form-field class="input-field col s12 pad-lft-zero pad-rht-zero">
            <input type="text" multi-line matInput class="exclude-default-style" placeholder="Description" name="Description" [(ngModel)]="newPrivilegeModel.Description"
              required>
          </mat-form-field>
          <mat-form-field class="input-field col s12 pad-lft-zero pad-rht-zero">
            <input type="text" matInput class="exclude-default-style" placeholder="PrivilegeKey" name="PrivilegeKey" [(ngModel)]="newPrivilegeModel.PrivilegeKey"
              required>
          </mat-form-field>
          <div class="row">
            <mat-form-field class="col s12 scroll-select pad-lft-zero pad-rht-zero">
              <mat-select name="ModuleId" placeholder="Select Module" [(ngModel)]="newPrivilegeModel.ModuleId">
                <mat-option *ngFor="let modeule of modeules;" [value]="modeule.Id">{{modeule.Value}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="modal-action waves-effect waves-green btn-flat modal-crt-btn" (click)="create(newPrivilegeModel)" [disabled]="!frmAddPrivileges.form.valid">Create</button>
      </div>
    </form>
  </div>

  <!-- Edit -->
  <div id="edit-privileges-mod" class="modal common-modal crt-role-modal">
    <form #frmEditPrivileges="ngForm">
      <div class="modal-content">
        <h4>Edit Privilege</h4>
        <div class="modal-close-btn right">
          <img src="assets/images/close-icon.png" class="responsive-img  modal-close " width="9" alt="close-icon">
        </div>
        <div class="row">
          <mat-form-field class="input-field col s12 pad-lft-zero pad-rht-zero">
            <input type="text" matInput class="exclude-default-style" placeholder="Title" name="Title" [(ngModel)]="newPrivilegeModel.Title"
              required>
          </mat-form-field>
          <mat-form-field class="input-field col s12 pad-lft-zero pad-rht-zero">
            <input type="text" multi-line matInput class="exclude-default-style" placeholder="Description" name="Description" [(ngModel)]="newPrivilegeModel.Description"
              required>
          </mat-form-field>
          <mat-form-field class="input-field col s12 pad-lft-zero pad-rht-zero">
            <input type="text" matInput class="exclude-default-style" placeholder="PrivilegeKey" name="PrivilegeKey" [(ngModel)]="newPrivilegeModel.PrivilegeKey"
              required>
          </mat-form-field>
          <div class="row">
            <mat-form-field class="col s12 scroll-select pad-lft-zero pad-rht-zero">
              <mat-select name="ModuleId" placeholder="Select Module" [(ngModel)]="newPrivilegeModel.ModuleId">
                <mat-option *ngFor="let modeule of modeules;" [value]="modeule.Id">{{modeule.Value}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="modal-action waves-effect waves-green btn-flat modal-crt-btn" (click)="update(newPrivilegeModel)" [disabled]="!frmEditPrivileges.form.valid">Update</button>
      </div>
    </form>
  </div>

  <!-- Details -->
  <div id="details-privileges-mod" class="modal common-modal crt-role-modal">
    <div class="modal-content">
      <div class="detail-page-wrapper">
        <h3 class="details-header">
          <span>privilege </span> Details</h3>
        <div class="det-modal-close-btn right">
          <img src="assets/images/white-close-icon.png" class="responsive-img  modal-close " width="20" alt="close-icon">
        </div>
        <div class="each-detail">
          <b class="dtl-itm-hdr">Title</b>
          <span class="dtl-itm-vlue">{{newPrivilegeModel.Title}}</span>
        </div>
        <div class="each-detail">
          <b class="dtl-itm-hdr">PrivilegeKey</b>
          <span class="dtl-itm-vlue">{{newPrivilegeModel.PrivilegeKey}}</span>
        </div>
        <div class="each-detail">
          <b class="dtl-itm-hdr">Module</b>
          <span class="dtl-itm-vlue">{{newPrivilegeModel.Module}}</span>
        </div>
        <div class="each-detail">
          <b class="dtl-itm-hdr">Created On</b>
          <span class="dtl-itm-vlue">{{newPrivilegeModel.CreatedOn | date: 'MM/dd/yyyy hh:mm:ss a'}}</span>
        </div>
        <div class="each-detail">
          <b class="dtl-itm-hdr">Updated On</b>
          <span class="dtl-itm-vlue">{{newPrivilegeModel.UpdatedOn | date: 'MM/dd/yyyy hh:mm:ss a'}}</span>
        </div>
        <div class="each-detail">
          <b class="dtl-itm-hdr">Created By</b>
          <span class="dtl-itm-vlue">{{newPrivilegeModel.CreatedUser}}</span>
        </div>
        <div class="each-detail">
          <b class="dtl-itm-hdr">Updated By</b>
          <span class="dtl-itm-vlue">{{newPrivilegeModel.Updateduser}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete -->
<eui-dialog #d1 panelCls="mydlg" headerCls="mydlg-header" footerCls="mydlg-footer" [modal]="true" borderType="none" closed="true">
  <eui-panel-header>Please Confirm</eui-panel-header>
  <p style="text-align:center;margin:50px 0;font-size:16px">Are you sure you want to continue?</p>
  <eui-panel-footer>
    <eui-button-group style="width:100%;height:50px">
      <eui-linkbutton class="f-full" [plain]="true" btnCls="mybtn" (click)="d1.close();deleteConfirm()">Yes</eui-linkbutton>
      <eui-linkbutton class="f-full" [plain]="true" btnCls="mybtn" (click)="d1.close();">No</eui-linkbutton>
    </eui-button-group>
  </eui-panel-footer>
</eui-dialog>