<style>
    .enrservice {
        height: 34px;
        width: 120px;
    }

    .select2-container .select2-selection--single {
        height: 35px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 34px;
    }

    .filter-toggle-btn {
        margin-right: 10px;
    }

    .filter-actionbox .form-control.datesingle-select {
        background-color: white;
        border-color: #aaaaaa !important;
        background-position: right 6px center;
    }

    .lead-top-search .dropdown-menu {
        min-width: 220px !important;
    }

    /* this is important! make sure you define this here or in jQuery codef */
    .resizer {
        position: absolute;
        top: 0;
        right: -8px;
        bottom: 0;
        left: auto;
        width: 16px;
        cursor: col-resize;
    }

    /*Add Form - Start*/

    #SalesAddWrap td > .form-control[type="text"] {
        min-width: 150px;
    }

    #SalesAddWrap .input-group.date > .form-control[type="text"] {
        min-width: 100px;
    }

    /*Add Form - End*/


    /*excel style table*/

    .handsontable {
  position: relative;
}

.handsontable.htAutoColumnSize {
  visibility: hidden;
  left: 0;
  position: absolute;
  top: 0;
}

.handsontable table,
.handsontable tbody,
.handsontable thead,
.handsontable td,
.handsontable th,
.handsontable div {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}

.handsontable table.htCore {
  border-collapse: separate;
  /*it must be separate, otherwise there are offset miscalculations in WebKit: http://stackoverflow.com/questions/2655987/border-collapse-differences-in-ff-and-webkit*/
  position: relative;
  /*this actually only changes appearance of user selection - does not make text unselectable
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  /*user-select: none; /*no browser supports unprefixed version*/
  border-spacing: 0;
  margin: 0;
  border-width: 0;
  table-layout: fixed;
  /*width: 0;*/
  outline-width: 0;
  /* reset bootstrap table style. for more info see: https://github.com/warpech/jquery-handsontable/issues/224 */
  max-width: none;
  max-height: none;
}

.handsontable col {
  width: 50px;
}

.handsontable col.rowHeader {
  width: 50px;
}

.handsontable th,
.handsontable td {
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  height: 22px;
  empty-cells: show;
  line-height: 21px;
  padding: 0 4px 0 4px;
  /* top, bottom padding different than 0 is handled poorly by FF with HTML5 doctype */
  background-color: #FFF;
  vertical-align: top;
  overflow: hidden;
  outline-width: 0;
  white-space: pre-line;
  /* preserve new line character in cell */
}

.handsontable td.htInvalid {
  -webkit-transition: background 0.75s ease;
  transition: background 0.75s ease;
  background-color: #ff4c42;
}

.handsontable th:last-child {
  /*Foundation framework fix*/
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}

.handsontable tr:first-child th.htNoFrame,
.handsontable th:first-child.htNoFrame,
.handsontable th.htNoFrame {
  border-left-width: 0;
  background-color: white;
  border-color: #FFF;
}

.handsontable th:first-child,
.handsontable td:first-child,
.handsontable .htNoFrame + th,
.handsontable .htNoFrame + td {
  border-left: 1px solid #CCC;
}

.handsontable tr:first-child th,
.handsontable tr:first-child td {
  border-top: 1px solid #CCC;
}

.handsontable thead tr:last-child th {
  border-bottom-width: 0;
}

.handsontable thead tr.lastChild th {
  border-bottom-width: 0;
}

.handsontable th {
  background-color: #EEE;
  color: #222;
  text-align: center;
  font-weight: normal;
  white-space: nowrap;
}

.handsontable thead th {
  padding: 0;
}

.handsontable th.active {
  background-color: #CCC;
}

.handsontable thead th .relative {
  position: relative;
  padding: 2px 4px;
}

/* plugins */

.handsontable .manualColumnMover {
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  width: 5px;
  height: 25px;
  z-index: 999;
  cursor: move;
}

.handsontable th .manualColumnMover:hover,
.handsontable th .manualColumnMover.active {
  background-color: #88F;
}

.handsontable .manualColumnResizer {
  position: absolute;
  top: 0;
  cursor: col-resize;
}

.handsontable .manualColumnResizerHandle {
  background-color: transparent;
  width: 5px;
  height: 25px;
}

.handsontable .manualColumnResizer:hover .manualColumnResizerHandle,
.handsontable .manualColumnResizer.active .manualColumnResizerHandle {
  background-color: #AAB;
}

.handsontable .manualColumnResizerLine {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #AAB;
  display: none;
  width: 0;
  border-right: 1px dashed #777;
}

.handsontable .manualColumnResizer.active .manualColumnResizerLine {
  display: block;
}

.handsontable .columnSorting:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* border line */

.handsontable .wtBorder {
  position: absolute;
  font-size: 0;
}

.handsontable td.area {
  background-color: #EEF4FF;
}

/* fill handle */

.handsontable .wtBorder.corner {
  font-size: 0;
  cursor: crosshair;
}

.handsontable .htBorder.htFillBorder {
  background: red;
  width: 1px;
  height: 1px;
}

.handsontableInput {
  border: 2px solid #5292F7;
  outline-width: 0;
  margin: 0;
  padding: 1px 4px 0 2px;
  font-family: Arial, Helvetica, sans-serif;
  /*repeat from .handsontable (inherit doesn't work with IE<8) */
  line-height: 1.3em;
  /*repeat from .handsontable (inherit doesn't work with IE<8) */
  font-size: inherit;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
  resize: none;
  /*below are needed to overwrite stuff added by jQuery UI Bootstrap theme*/
  display: inline-block;
  color: #000;
  border-radius: 0;
  background-color: #FFF;
  /*overwrite styles potentionally made by a framework*/
}

.handsontableInputHolder {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.htSelectEditor {
  -webkit-appearance: menulist-button !important;
  position: absolute;
}

/*
TextRenderer readOnly cell
*/

.handsontable .htDimmed {
  color: #777;
}

/*
TextRenderer placeholder value
*/

.handsontable .htPlaceholder {
  color: #999;
}

/*
AutocompleteRenderer down arrow
*/

.handsontable .htAutocompleteArrow {
  float: right;
  font-size: 10px;
  color: #EEE;
  cursor: default;
  width: 16px;
  text-align: center;
}

.handsontable td .htAutocompleteArrow:hover {
  color: #777;
}

/*
CheckboxRenderer
*/

.handsontable .htCheckboxRendererInput.noValue {
  opacity: 0.5;
}

/*
NumericRenderer
*/

.handsontable .htNumeric {
  text-align: right;
}

/*context menu rules*/

ul.context-menu-list {
  color: black;
}

ul.context-menu-list li {
  margin-bottom: 0;
  /*Foundation framework fix*/
}

/**
 * dragdealer
 */

.handsontable .dragdealer {
  position: relative;
  width: 9px;
  height: 9px;
  background: #F8F8F8;
  border: 1px solid #DDD;
}

.handsontable .dragdealer .handle {
  position: absolute;
  width: 9px;
  height: 9px;
  background: #C5C5C5;
}

.handsontable .dragdealer .disabled {
  background: #898989;
}

/**
 * Handsontable in Handsontable
 */

.handsontable .handsontable .wtHider {
  padding: 0 0 5px 0;
}

.handsontable .handsontable table {
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
}

/**
 * Handsontable listbox theme
 */

.handsontable.listbox {
  margin: 0;
}

.handsontable.listbox table {
  border: 1px solid #ccc;
  border-collapse: separate;
  background: white;
}

.handsontable.listbox th,
.handsontable.listbox tr:first-child th,
.handsontable.listbox tr:last-child th,
.handsontable.listbox tr:first-child td,
.handsontable.listbox td {
  border-width: 0;
}

.handsontable.listbox th,
.handsontable.listbox td {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.handsontable.listbox td.htDimmed {
  cursor: default;
  color: inherit;
  font-style: inherit;
}

.handsontable.listbox .wtBorder {
  visibility: hidden;
}

.handsontable.listbox tr td.current,
.handsontable.listbox tr:hover td {
  background: #eee;
}

.htContextMenu {
  display: none;
  position: absolute;
}

.htContextMenu table.htCore {
  outline: 1px solid #bbb;
}

.htContextMenu .wtBorder {
  visibility: hidden;
}

.htContextMenu table tbody tr td {
  background: white;
  border-width: 0;
  padding: 4px 6px 0px 6px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.htContextMenu table tbody tr td:first-child {
  border: 0;
}

.htContextMenu table tbody tr td.htDimmed{
  font-style: normal;
  color: #323232;
}

.htContextMenu table tbody tr td.current{
  background: rgb(233, 233, 233);
}

.htContextMenu table tbody tr td.htSeparator {
  border-top: 1px solid #bbb;
  height: 0;
  padding: 0;
}

.htContextMenu table tbody tr td.htDisabled {
  color: #999;
}

.htContextMenu table tbody tr td.htDisabled:hover {
  background: white;
  color: #999;
  cursor: default;
}

.handsontable td.htSearchResult {
  background: #fcedd9;
  color: #583707;
}

/*WalkontableDebugOverlay*/

.wtDebugHidden {
  display: none;
}

.wtDebugVisible {
  display: block;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: wtFadeInFromNone;
  animation-duration: 0.5s;
  animation-name: wtFadeInFromNone;
}

@keyframes wtFadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-webkit-keyframes wtFadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
  
  
}

.handsontable tbody td {
  margin:0; padding:0;
  padding-right:12px;
}

input {
  border:none;
  width:100%;
  height:100%;
  font-family: Verdana, Helvetica, Arial, FreeSans, sans-serif;
  font-size:12px;
  padding: 0 4px 0 4px;
  
}

input:focus { 
  border:2px solid #5292F7;
  outline: none;
}
/*excel table end*/

</style>

<div class="lead-content-wrapper slide-left" ng-init="init()" ng-show="authData.isAuth">
    <div class="lead-top-search ll">
        <div class="row ">
            <div class="col-lg-4 col-sm-12 leads-result">
                <i ng-show="salesLoading" class="fa fa-spinner fa-spin ng-animate-disabled"></i>
                {{model.Pager.TotalCount| number}} Records <span style="font-family:inherit" ng-show="affectedFilterCount>0"> matching <span>{{affectedFilters.join(' | ')}}</span></span>

            </div>
            <div class="col-lg-8 col-sm-12">
                <div class="row">
                    <div class="col-lg-8 col-sm-6 add-lnk-outerwrap">
                        <div class="pull-right add-lnk-wrp" ng-show="showByPrevilege('SLSIMPRT')" style="margin-left:5px">
                            <a class="btn btn-primary pull-right filter-toggle-btn" ng-click="showLog()">
                                <i class="fa fa-history ng-animate-disabled" ng-hide="logLoading"></i>
                                <i class="fa fa-history fa-spin ng-animate-disabled" ng-show="logLoading"></i>
                                Log
                            </a>
                        </div>
                        <div class="pull-right add-lnk-wrp" ng-show="showByPrevilege('SLSIMPRT')" style="margin-left:5px">
                            <label for="file-input-finance" style="line-height:1.5; margin-bottom:0; font-weight:normal " class="btn btn-primary lead-add-btn">
                                <i ng-show="uploadingReport" class="fa fa-spinner fa-spin ng-animate-disabled ng-hide"></i>
                                <i class="fa fa-paperclip"></i>
                            </label>
                            <input id="file-input-finance" type="file" ng-model="currentSales.files" ng-change="fileUpload(currentSales.files, true)" name="files-finance" base-sixty-four-input minsize="500" required minnum="1" style="display:none">
                        </div>
                        <div class="pull-right add-lnk-wrp" ng-show="showByPrevilege('SLSIMPRT')">
                            <label for="file-input" style="line-height:1.5; margin-bottom:0; font-weight:normal " class="btn btn-primary lead-add-btn">
                                <i ng-show="uploadingReport" class="fa fa-spinner fa-spin ng-animate-disabled ng-hide"></i>
                                <i class="fa fa-paperclip"></i>
                                Import
                            </label>
                            <input id="file-input" type="file" ng-model="currentSales.files" ng-change="fileUpload(currentSales.files, false)" name="files" base-sixty-four-input minsize="500" required minnum="1" style="display:none">
                        </div>
                        <a class="btn btn-primary pull-right filter-toggle-btn" ng-click="exportData()">
                            <i class="fa fa-file-excel-o" ng-hide="excelExportLoading" style="margin-right: 5px;"></i>
                            <i ng-show="excelExportLoading" class="fa fa-spinner fa-spin ng-animate-disabled"></i>
                            Export
                        </a>
                        <a class="btn btn-primary pull-right filter-toggle-btn" ng-click="toggleFilter();"><i class="fa fa-filter"></i> Filter</a>
                        <select ui-select2="select2OptionsDisable" ng-model="salesFilter.ServiceId" class="enrservice pull-right" ng-change="loadFilters()">
                            <option ng-repeat="tag in lookUps.lookupServices" value="{{tag.Id}}">{{tag.Value}}</option>
                        </select>

                    </div>
                    <div class="col-lg-4 col-sm-6 srch-bx">
                        <div class="pull-left input-group search-lead">
                            <input class="form-control" placeholder="Search Sales Activity" name="" id="" type="text" ng-model="salesFilter.Keyword" clearable>
                            <div class="input-group-btn">
                                <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <div class="pull-right dropdown" uib-dropdown>
                            <a class="settings-icon" uib-dropdown-toggle><i class="fa fa-cog"></i></a>
                            <ul class="dropdown-menu dropdown-menu-form" uib-dropdown-menu>
                                <li>
                                    <h3>Visible Columns</h3>
                                </li>
                                <li ng-repeat="dFilter in salesFilter.DynamicFilters">
                                    <div class="checkbox">
                                        <input type="checkbox" id="checkboxS1" ng-model="dFilter.IsVisible">
                                        <label for="checkboxS1"></label>
                                        <span class="select-title">{{dFilter.DisplayName}}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row lead-list-wrap" id="lead-list-wrap">
        <div ng-hide="showLogView==true">
            <div class="col-lg-3 filter-lead" ng-show="showFilter">
                <span class="close-cross pull-right"><a ng-click="toggleFilter();" id="filter-lead-close"><img src="/Controlpanel/Content/images/cross-black.png" width="16"></a></span>
                <div class="clearfix"></div>
                <div class="filter-results">
                    <span class="filter-apply pull-left">{{affectedFilterCount}} Filters Applied</span>
                    <a class="reset-filter pull-right" ng-click="resetFilter()">Reset</a>
                    <div class="clearfix"></div>
                </div>
                <div class="filter-actionbox">
                    <fieldset class="form-group">
                        <ui-select ng-model="salesFilter.ProviderId" title="Select Provider">
                            <ui-select-match placeholder="Select {{providerPlchldr}}" allow-clear="true">
                                <span ng-bind="$select.selected.Value"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="item.Id as item in (lookUps.lookupProviders | filter: $select.search)" refresh="getallproviders($select.search)" minimum-input-length="1" refresh-delay="500">
                                <span ng-bind="item.Value"></span>
                            </ui-select-choices>
                        </ui-select>
                    </fieldset>

                    <div class="dropdown" style="margin-bottom:20px">
                        <input type="text" class="form-control datesingle-select select2 select2-container select2-container--default" value="{{salesFilter.CollectedDateFrom|date:'MM-dd-yyyy'}}" placeholder="{{collectedDatePlchldr}} From" id="lblCollectedDateFrom" role="button" data-toggle="dropdown" />
                        <ul class="dropdown-menu date-picker" role="menu" aria-labelledby="lblCollectedDateFrom">
                            <datetimepicker data-ng-model="salesFilter.CollectedDateFrom" data-datetimepicker-config="{ dropdownSelector: '#lblCollectedDateFrom', startView:'day', minView:'day' }"></datetimepicker>
                        </ul>
                    </div>

                    <div class="dropdown" style="margin-bottom:20px">
                        <input type="text" class="form-control datesingle-select select2 select2-container select2-container--default" value="{{salesFilter.CollectedDateTo|date:'MM-dd-yyyy'}}" placeholder="{{collectedDatePlchldr}} To" id="lblCollectedDateTo" role="button" data-toggle="dropdown" />
                        <ul class="dropdown-menu date-picker" role="menu" aria-labelledby="lblCollectedDateTo">
                            <datetimepicker data-ng-model="salesFilter.CollectedDateTo" data-datetimepicker-config="{ dropdownSelector: '#lblCollectedDateTo', startView:'day', minView:'day' }"></datetimepicker>
                        </ul>
                    </div>

                    <div class="dropdown" style="margin-bottom:20px">
                        <input type="text" class="form-control datesingle-select select2 select2-container select2-container--default" value="{{salesFilter.ReceivedDateFrom|date:'MM-dd-yyyy'}}" placeholder="{{receivedDatePlchldr}} From" id="lblReceivedDateFrom" role="button" data-toggle="dropdown" />
                        <ul class="dropdown-menu date-picker" role="menu" aria-labelledby="lblReceivedDateFrom">
                            <datetimepicker data-ng-model="salesFilter.ReceivedDateFrom" data-datetimepicker-config="{ dropdownSelector: '#lblReceivedDateFrom', startView:'day', minView:'day' }"></datetimepicker>
                        </ul>
                    </div>

                    <div class="dropdown" style="margin-bottom:20px">
                        <input type="text" class="form-control datesingle-select select2 select2-container select2-container--default" value="{{salesFilter.ReceivedDateTo|date:'MM-dd-yyyy'}}" placeholder="{{receivedDatePlchldr}} To" id="lblReceivedDateTo" role="button" data-toggle="dropdown" />
                        <ul class="dropdown-menu date-picker" role="menu" aria-labelledby="lblReceivedDateTo">
                            <datetimepicker data-ng-model="salesFilter.ReceivedDateTo" data-datetimepicker-config="{ dropdownSelector: '#lblReceivedDateTo', startView:'day', minView:'day' }"></datetimepicker>
                        </ul>
                    </div>

                    <fieldset class="form-group" ng-hide="lookUps.lookupGroups==null">
                        <ui-select ng-model="salesFilter.RepGroupId" title="Select {{salesTeamPlchldr}}">
                            <ui-select-match placeholder="Select Sales Team" allow-clear="true">
                                <span ng-bind="$select.selected.Value"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="item.Id as item in (lookUps.lookupGroups | filter: $select.search)">
                                <span ng-bind="item.Value"></span>
                            </ui-select-choices>
                        </ui-select>
                    </fieldset>

                    <fieldset class="form-group" ng-hide="lookUps.lookupReps==null">
                        <ui-select ng-model="salesFilter.RepId" title="Select {{repPlchldr}}">
                            <ui-select-match placeholder="Select Reps" allow-clear="true">
                                <span ng-bind="$select.selected.Value"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="item.Id as item in (lookUps.lookupReps | repfilter: (salesFilter.RepGroupId) && { ParentId: salesFilter.RepGroupId }:true | filter: $select.search)">
                                <span ng-bind="item.Value"></span>
                            </ui-select-choices>
                        </ui-select>
                    </fieldset>
                    <fieldset class="form-group" ng-repeat="dFilter in salesFilter.DynamicFilters" ng-if="dFilter.ShowInFilter">
                        <input type="text" ng-model="dFilter.ColumnValue" placeholder="{{dFilter.ColumnName}}" class="form-control" style="background: white;height: 41px;border-color: #aaaaaa !important;" />
                    </fieldset>
                </div>
            </div>
            <!--<div class="{{listClass}} listbox-lead" id="listbox-lead">
                <div class="line-table-wrap">
                    <div class="table-responsive">
                        <div id="exportable">
                            <table id="leadtable" class="ListingTable table table-hover">
                                <thead>
                                    <tr>
                                        <th ng-show="header.IsVisible" ng-repeat="header in salesFilter.DynamicFilters" ng-click="setSelectedColumn(header)" ng-class="salesFilter.orderBy=='asc'?{selectedAsc: header.ColumnName == salesFilter.sortKey}:{selectedDesc: header.ColumnName == salesFilter.sortKey}">
                                            <span>{{header.DisplayName}}</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="sales in model.List" class="{{sales.ReportId == currentSales.ReportId && showDetails?'activelink':''}}">
                                        <td class="lead-name-lnk" ng-click="showDetailsView(sales)" ng-show="salesFilter.Columns.CollectedDate">
                                            {{sales['CollectionDate']|date:'MM-dd-yyyy'}}
                                        </td>
                                        <td class="lead-name-lnk" ng-click="showDetailsView(sales)" ng-show="salesFilter.Columns.ReceivedDate">
                                            {{sales['ReceivedDate']|date:'MM-dd-yyyy'}}
                                        </td>
                                        <td class="lead-name-lnk" ng-click="showDetailsView(sales)" ng-show="salesFilter.Columns.ReportedDate">
                                            {{sales.ReportedDate|date:'MM-dd-yyyy'}}
                                        </td>
                                        <td class="lead-name-lnk" ng-click="showDetailsView(sales)" ng-show="salesFilter.Columns.WrittenOn">
                                            {{sales.WrittenOn|date:'MM-dd-yyyy'}}
                                        </td>
                                        <td class="lead-name-lnk" ng-click="showDetailsView(sales)" ng-show="salesFilter.Columns.Practice">
                                            {{sales.Practice}}
                                        </td>
                                        <td class="lead-name-lnk" ng-click="showDetailsView(sales)" ng-show="salesFilter.Columns.Provider">
                                            {{sales.Provider}}
                                        </td>
                                        <td class="lead-name-lnk" ng-click="showDetailsView(sales)" ng-show="salesFilter.Columns.SalesTeam">
                                            {{sales.RepGroup}}
                                        </td>
                                        <td class="lead-name-lnk" ng-click="showDetailsView(sales)" ng-show="salesFilter.Columns.RepName">
                                            {{sales.RepName}}
                                        </td>
                                        <td class="lead-name-lnk" ng-click="showDetailsView(sales)" ng-show="salesFilter.Columns.Patient">
                                            {{sales.Patient}}
                                        </td>
                                        <td class="lead-name-lnk" ng-click="showDetailsView(sales)" ng-show="salesFilter.Columns.SpecimenId">
                                            {{sales.SpecimenId}}
                                        </td>
                                        <td class="lead-name-lnk" ng-click="showDetailsView(sales)" ng-show="salesFilter.Columns.BilledDate">
                                            {{sales.BilledDate}}
                                        </td>
                                        <td class="lead-name-lnk" ng-click="showDetailsView(sales)" ng-show="salesFilter.Columns.PaidDate">
                                            {{sales.PaidDate}}
                                        </td>
                                        <td class="lead-name-lnk" ng-click="showDetailsView(sales)" ng-show="salesFilter.Columns.Charges">
                                            {{sales.Charges | currency:"$"}}
                                        </td>
                                        <td class="lead-name-lnk" ng-click="showDetailsView(sales)" ng-show="salesFilter.Columns.PaidAmount">
                                            {{sales.PaidAmount | currency:"$"}}
                                        </td>
                                        <td class="lead-name-lnk" ng-click="showDetailsView(sales)" ng-show="salesFilter.Columns.AdjustAmount">
                                            {{sales.AdjustAmount | currency:"$"}}
                                        </td>
                                        <td class="lead-name-lnk" ng-click="showDetailsView(sales)" ng-show="salesFilter.Columns.AdjustReason">
                                            {{sales.AdjustReason}}
                                        </td>
                                        <td ng-repeat="column in  sales.ReportColumnValues" ng-show="salesFilter.Columns[column.ColumnName]" ng-click="showDetailsView(sales)">{{column.Value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="paging-wrap">
                        <div class="pull-left"> <uib-pagination total-items="model.Pager.TotalCount" ng-model="salesFilter.CurrentPage" items-per-page="salesFilter.PageSize" boundary-link-numbers="true" boundary-link-numbers="true" max-size="3" force-ellipses="true" rotate="false" class="pagination-sm"></uib-pagination> </div>
                        <span ng-hide="showDetails" class="pull-left show-text">Showing {{model.Pager.Skip+1}} to {{(model.Pager.Skip + model.Pager.Take)>model.Pager.TotalCount?model.Pager.TotalCount:(model.Pager.Skip + model.Pager.Take)}} of {{model.Pager.TotalCount}} ({{model.Pager.TotalPage}} Pages )</span>
                        <div class="row-count-drop pull-left" ng-hide="showDetails">
                            <select class="form-control" ng-model="salesFilter.PageSize">
                                <option value="" disabled="" selected="" hidden="">Row Count</option>
                                <option ng-selected="25==salesFilter.PageSize">25</option>
                                <option ng-selected="50==salesFilter.PageSize">50</option>
                                <option ng-selected="100==salesFilter.PageSize">100</option>
                                <option ng-selected="500==salesFilter.PageSize">500</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>-->
            <div class="{{listClass}} listbox-lead" id="listbox-lead" ng-show="true">
                <div class="line-table-wrap">
                    <div class="table-responsive">
                        <div id="exportable">
                            <form id="salesComposeForm">
                                <div class="handsontable">
                                    <table id="SalesAddWrap" class="htCore">
                                        <thead>
                                            <tr>
                                                <th ng-repeat="header in salesFilter.DynamicFilters">
                                                    <div class="relative">
                                                        <span class="colHeader">{{header.DisplayName}}</span>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="sales in model.List" class="{{sales.ReportId == currentSales.ReportId && showDetails?'activelink':''}} tr-ident">
                                                <td class="lead-name-lnk" ng-show="salesFilter.Columns.CollectedDate">
                                                    <input type="text" class="" ng-model="sales['CollectionDate']|date:'MM-dd-yyyy'" name="CollectionDate" placeholder="Collection Date" />
                                                </td>
                                                <td class="lead-name-lnk" ng-show="salesFilter.Columns.ReceivedDate">
                                                    <input type="text" class="" ng-model="sales['ReceivedDate']|date:'MM-dd-yyyy'" name="ReceivedDate" placeholder="Received Date" />
                                                </td>
                                                <td class="lead-name-lnk" ng-show="salesFilter.Columns.ReportedDate">
                                                    <input type="text" class="" ng-model="sales['ReportedDate']|date:'MM-dd-yyyy'" name="ReportedDate" placeholder="Reported Date" />
                                                </td>
                                                <td class="lead-name-lnk" ng-show="salesFilter.Columns.WrittenOn">
                                                    <input type="text" class="" ng-model="sales['WrittenOn']|date:'MM-dd-yyyy'" name="WrittenOn" placeholder="Reported Date" />
                                                </td>
                                                <td class="lead-name-lnk form-group" ng-show="salesFilter.Columns.Practice">
                                                    <input type="text" class="" ng-model="sales.Practice" name="Practice" />
                                                </td>
                                                <td class="lead-name-lnk" ng-show="salesFilter.Columns.Provider">
                                                    <input type="text" class="" ng-model="sales.Provider" name="Provider" />
                                                </td>
                                                <td class="lead-name-lnk" ng-show="salesFilter.Columns.SalesTeam">
                                                    <input type="text" class="" ng-model="sales.RepGroup" name="SalesTeam" />
                                                </td>
                                                <td class="lead-name-lnk" ng-show="salesFilter.Columns.RepName">
                                                    <input type="text" class="" ng-model="sales.RepName" name="RepName" />
                                                </td>
                                                <td class="lead-name-lnk" ng-show="salesFilter.Columns.Patient">
                                                    <input type="text" class="" ng-model="sales.Patient" name="Patient" />
                                                </td>
                                                <td class="lead-name-lnk" ng-show="salesFilter.Columns.SpecimenId">
                                                    <input type="text" class="" ng-model="sales.SpecimenId" name="SpecimenId" />
                                                </td>
                                                <td class="lead-name-lnk" ng-show="salesFilter.Columns.BilledDate">

                                                    <input type="text" class="" ng-model="sales.BilledDate|date:'MM-dd-yyyy'" name="BilledDate" placeholder="Billed Date" placehold />

                                                </td>
                                                <td class="lead-name-lnk" ng-show="salesFilter.Columns.PaidDate">

                                                    <input type="text" class="" ng-model="sales.PaidDate|date:'MM-dd-yyyy'" name="PaidDate" placeholder="Paid Date" placehold />

                                                </td>
                                                <td class="lead-name-lnk" ng-show="salesFilter.Columns.Charges">
                                                    <input type="text" name="text" class="" ng-model="sales.sales.Charges" />
                                                </td>
                                                <td class="lead-name-lnk" ng-show="salesFilter.Columns.PaidAmount">
                                                    <input type="text" name="text" class="" ng-model="sales.sales.PaidAmount" />
                                                </td>
                                                <td class="lead-name-lnk" ng-show="salesFilter.Columns.AdjustAmount">
                                                    <input type="text" name="text" class="" ng-model="sales.sales.AdjustAmount" />
                                                </td>
                                                <td class="lead-name-lnk" ng-show="salesFilter.Columns.AdjustReason">
                                                    <input type="text" name="text" class="" ng-model="sales.AdjustReason" />
                                                </td>
                                                <td ng-repeat="column in  sales.ReportColumnValues" ng-show="salesFilter.Columns[column.ColumnName]">
                                                        <input type="text" class="dynField" ng-model="column.Value" data-column-id="{{column.ColumnId}}" name="{{salesFilter.Columns[column.ColumnName]}}" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                    <input type="submit" />

</form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="listbox-lead" ng-show="showLogView!=null && showLogView==true">
            <div class="line-table-wrap">
                <div class="table-responsive">
                    <table class="ListingTable table table-hover">
                        <thead>
                            <tr>
                                <th><span>ImportedDate</span></th>
                                <th><span>NumberOfInserts</span></th>
                                <th><span>NumberOfUpdates</span></th>
                                <th><span>NumberOfSkips</span></th>
                                <th><span>ImportedFilePath</span></th>
                                <th><span>MessageSummery</span></th>
                            </tr>
                            </thead>
                            <tr ng-repeat="logItem in logModel.List" data-logid="{{logItem.Id}}">
                                <td>{{logItem.ImportedDate | date:"MM/dd/yyyy h:mm a"}}</td>
                                <td><a ng-click="showSalesByLogId(logItem.Id)">{{logItem.NumberOfInserts}}</a></td>
                                <td><a ng-click="showSalesByLogId()">{{logItem.NumberOfUpdates}}</a></td>
                                <td><a ng-click="showSalesByLogId()">{{logItem.NumberOfSkips}}</a></td>
                                <td>{{logItem.ImportedFilePath}}</td>
                                <td>{{logItem.MessageSummery}}</td>
                            </tr>
                            
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-12 lead-info-wrap slide-left" id="lead-info-wrap" ng-show="showDetails">
            <ng-include src="templateUrl('/Controlpanel/Views/Sales/salesDetails.html?1140')"></ng-include>
        </div>
    </div>
</div>
