
@{
    ViewBag.Title = "BusinessContact";
}

<p><br />
    <h3 class="margin-top-20">
        This business is not registred with Careconnect EMR. <br />
        Please contact us for more details..
    </h3>
</p>
