<style>
  select {
    display: block!important;
    border-top: 0px !important;
    border-bottom: 1px solid #cfcfcf;
    border-left: 0px !important;
    border-right: 0px !important;
    outline: none;
    margin-top: 10px;
  }
</style>
<div class="left-window">
  <div class="left-window-header">
    <span class="left-each-item-header">Sales Team</span>
  </div>
  <div class="divider"></div>
  <div class="input-field left-search-box seach-box">
    <input type="text" class="validate" placeholder="Enter Keyword" name="Keywords" (keyup.enter)="getAllSalesTeam(searchFilter)"
      [(ngModel)]="searchFilter.KeyWords">
    <a class="btn search-btn" (click)="getAllSalesTeam(searchFilter)">
      <i class="material-icons">search</i>
    </a>
  </div>
  <div class="clearfix"></div>
</div>
<div class="right-window ">
  <div class="common-table user-table">
    <table class="striped" matSort (matSortChange)="sortData($event)">
      <thead>
        <tr class="t-header">
          <th mat-sort-header="RepGroupName">Sales Team</th>
          <th mat-sort-header="SalesDirector">Sales Director</th>
          <th>Managers</th>
          <th mat-sort-header="IsActive">Active</th>
          <th mat-sort-header="CreatedByName">Created by</th>
          <th mat-sort-header="CreatedOn">Created on</th>
          <th mat-sort-header="UpdatedByName">Updated By</th>
          <th mat-sort-header="UpdatedOn">Updated On</th>
          <th class="edit-delete-th">active</th>
        </tr>
      </thead>
      <tbody>
        <tr class="hidden-tr">
          <td></td>
        </tr>
        <tr class="hidden-tr">
          <td></td>
        </tr>
        <tr *ngFor="let salesTeam of SalesTeam; let i = index">
          <td>
            <a href="#details-sales-team-mod" (click)="detail(salesTeam.Id)">
              {{salesTeam.RepGroupName}}
            </a>
          </td>
          <td>{{salesTeam.SalesDirector}}</td>
          <td>
            <span *ngFor="let item of salesTeam.Managers; let isLast=last">
              {{item}}{{isLast ? '' : ', '}}
            </span>
          </td>
          <td>
            <p>
              <input type="checkbox" class="filled-in" id="filled-in-box-{{i}}" [checked]="salesTeam.IsActive" disabled>
              <label for="filled-in-box-{{i}}"></label>
            </p>
          </td>
          <td>{{salesTeam.CreatedByName}}</td>
          <td>{{salesTeam.CreatedOn | date: 'MM/dd/yyyy hh:mm:ss a'}}</td>
          <td>{{salesTeam.UpdatedByName}}</td>
          <td>{{salesTeam.UpdatedOn | date: 'MM/dd/yyyy hh:mm:ss a'}}</td>
          <td>
            <div mat-icon-button [matMenuTriggerFor]="appMenu" class='dropdown-button btn edit-delete-btn'>
              <img src="assets/images/dots-icon.png" class="responsive-img" width="10" alt="dots-icon">
            </div>
            <mat-menu #appMenu="matMenu">
              <ul class='dropdown-content-menu edit-delete-dropdown'>
                <li>
                  <a href="#edit-sales-team-mod" (click)="edit(salesTeam.Id)">
                    Edit
                  </a>
                </li>
                <li>
                  <a href="#details-sales-team-mod" (click)="detail(salesTeam.Id)">
                    Details
                  </a>
                </li>
                <li>
                  <a href="#" (click)="d1.open(); delete(salesTeam.Id)">
                    Delete
                  </a>
                </li>
              </ul>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>
    <mat-paginator *ngIf="SalesTeam?.length > 0" [length]="pageSize" [pageSize]="25" [pageSizeOptions]="[25,50,100,150,200]"
      (page)="pageEvent = $event; getAllSalesTeam(searchFilter, false)"></mat-paginator>
  </div>
</div>

<div class="modal-button">
  <div class="fixed-action-btn">
    <div class=" mdl-fab-btn-wrap">
      <span class="mdl-fab-txt">Add</span>
      <a class="btn btn-floating btn-large sky-blue-color " href="#create-sales-team-mod" (click)="openCreate()">
        <i class="large material-icons">add</i>
      </a>
    </div>
  </div>
</div>

<div class="all-modals">
  <!-- Create -->
  <div id="create-sales-team-mod" class="modal common-modal crt-role-modal">
    <form #frmaddsalesteam="ngForm">
      <div class="modal-content">
        <h4>Create SalesTeam</h4>
        <div class="modal-close-btn right">
          <img src="assets/images/close-icon.png" class="responsive-img  modal-close " width="9" alt="close-icon">
        </div>
        <div class="row">
          <mat-form-field class="input-field col s12 pad-lft-zero pad-rht-zero">
            <input type="text" matInput class="exclude-default-style" placeholder="Sale Team" name="RepGroupName" [(ngModel)]="newSalesTeamModel.RepGroupName"
              required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="input-field col s12 pad-lft-zero pad-rht-zero">
            <input type="text" matInput class="exclude-default-style" placeholder="Description" name="Description" [(ngModel)]="newSalesTeamModel.Description"
              required>
          </mat-form-field>
        </div>
        <!-- <div class="row">
          <mat-form-field class="col s12 scroll-select pad-lft-zero pad-rht-zero">
            <mat-select name="salesdirector" placeholder="Select Sales Director" [(ngModel)]="newSalesTeamModel.SalesDirectorId">
              <mat-option *ngFor="let salesDirector of SalesDirectors" [value]="salesDirector.Id">{{salesDirector.Value}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->
        <div class="row">
          <mat-form-field class="col s12 scroll-select pad-lft-zero pad-rht-zero">
            <mat-select placeholder="Select Sales Director" [formControl]="salesDirectors" multiple [(ngModel)]="newSalesTeamModel.SalesDirectorIds">
              <mat-option *ngFor="let salesDirector of SalesDirectors" [value]="salesDirector.Id">{{salesDirector.Value}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col s12 scroll-select pad-lft-zero pad-rht-zero">
            <mat-select placeholder="Select Managers" [formControl]="managers" multiple [(ngModel)]="newSalesTeamModel.RepGroupManagerIds">
              <mat-option *ngFor="let manager of Managers" [value]="manager.Id">{{manager.Value}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="modal-footer">
        <button class="modal-action waves-effect waves-green btn-flat modal-crt-btn" (click)="create(newSalesTeamModel)" [disabled]="!frmaddsalesteam.form.valid">Create</button>
      </div>
    </form>
  </div>

  <!-- Edit -->
  <div id="edit-sales-team-mod" class="modal common-modal crt-role-modal">
    <form #frmEditsalesteam="ngForm">
      <div class="modal-content">
        <h4>Edit SalesTeam</h4>
        <div class="modal-close-btn right">
          <img src="assets/images/close-icon.png" class="responsive-img  modal-close " width="9" alt="close-icon">
        </div>
        <div class="row">
          <mat-form-field class="input-field col s12 pad-lft-zero pad-rht-zero">
            <input type="text" matInput class="exclude-default-style" placeholder="Sale Team" name="RepGroupName" [(ngModel)]="newSalesTeamModel.RepGroupName"
              required>
          </mat-form-field>
          <mat-form-field class="input-field col s12 pad-lft-zero pad-rht-zero">
            <input type="text" matInput class="exclude-default-style" placeholder="Description" name="Description" [(ngModel)]="newSalesTeamModel.Description"
              required>
          </mat-form-field>
          <div class="row s12 pad-lft-zero">
            <mat-checkbox name="SalesTeamIsActive" [(ngModel)]="newSalesTeamModel.IsActive">IsActive</mat-checkbox>
          </div>
          <!-- <div class="row">
            <mat-form-field class="col s12 scroll-select pad-lft-zero pad-rht-zero">
              <mat-select name="salesdirector" placeholder="Select Sales Director" [(ngModel)]="newSalesTeamModel.SalesDirectorId">
                <mat-option *ngFor="let salesDirector of SalesDirectors" [value]="salesDirector.Id">{{salesDirector.Value}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->
        <div class="row">
            <mat-form-field class="col s12 scroll-select pad-lft-zero pad-rht-zero">
              <mat-select placeholder="Select Sales Director" [formControl]="salesDirectors" multiple [(ngModel)]="newSalesTeamModel.SalesDirectorIds">
                <mat-option *ngFor="let salesDirector of SalesDirectors" [value]="salesDirector.Id">{{salesDirector.Value}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col s12 scroll-select pad-lft-zero pad-rht-zero">
              <mat-select placeholder="Select Managers" [formControl]="managers" multiple [(ngModel)]="newSalesTeamModel.RepGroupManagerIds">
                <mat-option *ngFor="let manager of Managers" [value]="manager.Id">{{manager.Value}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="modal-action waves-effect waves-green btn-flat modal-crt-btn" (click)="update(newSalesTeamModel)" [disabled]="!frmEditsalesteam.form.valid">Update</button>
      </div>
    </form>
  </div>

  <!-- Details -->
  <div id="details-sales-team-mod" class="modal common-modal crt-role-modal">
    <div class="modal-content">
      <div class="detail-page-wrapper">
        <h3 class="details-header">
          <span>Sales Team </span> Details</h3>
        <div class="det-modal-close-btn right">
          <img src="assets/images/white-close-icon.png" class="responsive-img  modal-close " width="20" alt="close-icon">
        </div>
        <div class="each-detail">
          <b class="dtl-itm-hdr">Sales Team</b>
          <span class="dtl-itm-vlue">{{newSalesTeamModel.RepGroupName}}</span>
        </div>
        <div class="each-detail">
          <b class="dtl-itm-hdr">Sales Director</b>
          <span class="dtl-itm-vlue">{{newSalesTeamModel.SalesDirector}}</span>
        </div>
        <div class="each-detail">
          <b class="dtl-itm-hdr">Managers</b>
          <span class="dtl-itm-vlue">{{newSalesTeamModel.Managers}}</span>
        </div>
        <div class="each-detail">
          <b class="dtl-itm-hdr">Sales Reps</b>
          <span class="dtl-itm-vlue">{{newSalesTeamModel.SalesReps}}</span>
        </div>
        <div class="each-detail">
          <b class="dtl-itm-hdr">Created On</b>
          <span class="dtl-itm-vlue">{{newSalesTeamModel.CreatedOn | date: 'MM/dd/yyyy hh:mm:ss a'}}</span>
        </div>
        <div class="each-detail">
          <b class="dtl-itm-hdr">Updated On</b>
          <span class="dtl-itm-vlue">{{newSalesTeamModel.UpdatedOn | date: 'MM/dd/yyyy hh:mm:ss a'}}</span>
        </div>
        <div class="each-detail">
          <b class="dtl-itm-hdr">Created By</b>
          <span class="dtl-itm-vlue">{{newSalesTeamModel.CreatedByName}}</span>
        </div>
        <div class="each-detail">
          <b class="dtl-itm-hdr">Updated By</b>
          <span class="dtl-itm-vlue">{{newSalesTeamModel.UpdatedByName}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete -->
<eui-dialog #d1 panelCls="mydlg" headerCls="mydlg-header" footerCls="mydlg-footer" [modal]="true" borderType="none" closed="true">
  <eui-panel-header>Please Confirm</eui-panel-header>
  <p style="text-align:center;margin:50px 0;font-size:16px">Are you sure you want to continue?</p>
  <eui-panel-footer>
    <eui-button-group style="width:100%;height:50px">
      <eui-linkbutton class="f-full" [plain]="true" btnCls="mybtn" (click)="d1.close();deleteConfirm()">Yes</eui-linkbutton>
      <eui-linkbutton class="f-full" [plain]="true" btnCls="mybtn" (click)="d1.close();">No</eui-linkbutton>
    </eui-button-group>
  </eui-panel-footer>
</eui-dialog>

<!-- <mat-dialog-content>Are you sure?</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button [mat-dialog-close]="true">Yes</button>
</mat-dialog-actions> -->