<div class="left-window">
  <div class="left-window-header">
    <span class="left-each-item-header">Search NotificationType</span>
  </div>
  <div class="divider"></div>
  <div class="input-field left-search-box seach-box">
    <input type="text" class="validate" placeholder="Search NotificationType" name="Keywords" (keyup.enter)="getNotificationType(searchFilter)"
      [(ngModel)]="searchFilter.Keywords">
    <a class="btn search-btn" (click)="getNotificationType(searchFilter)">
      <i class="material-icons">search</i>
    </a>
  </div>
  <div class="clearfix"></div>
</div>
<div class="right-window ">
  <div class="common-table user-table">
    <table class="striped" matSort (matSortChange)="sortData($event)">
      <thead>
        <tr class="t-header">
          <th mat-sort-header="Title">Title</th>
          <th mat-sort-header="NotificationKey">NotificationKey</th>
          <th mat-sort-header="CreatedUser">Created by</th>
          <th mat-sort-header="CreatedOn">Created on</th>
          <th mat-sort-header="Updateduser">Updated By</th>
          <th mat-sort-header="UpdatedOn">Updated On</th>
          <th class="edit-delete-th">active</th>
        </tr>
      </thead>
      <tbody>
        <tr class="hidden-tr">
          <td></td>
        </tr>
        <tr class="hidden-tr">
          <td></td>
        </tr>
        <tr *ngFor="let NotificationType of NotificationTypeModel; let i = index">
          <td>
            <a href="#details-notification-type-mod" (click)="edit(NotificationType.Id)">
              {{NotificationType.Title}}
            </a>
          </td>
          <td>{{NotificationType.NotificationKey}}</td>
          <td>{{NotificationType.CreatedUser}}</td>
          <td>{{NotificationType.CreatedOn | date: 'MM/dd/yyyy hh:mm:ss a'}}</td>
          <td>{{NotificationType.Updateduser}}</td>
          <td>{{NotificationType.UpdatedOn | date: 'MM/dd/yyyy hh:mm:ss a'}}</td>
          <td>
            <div mat-icon-button [matMenuTriggerFor]="appMenu" class='dropdown-button btn edit-delete-btn'>
              <img src="assets/images/dots-icon.png" class="responsive-img" width="10" alt="dots-icon">
            </div>
            <mat-menu #appMenu="matMenu">
              <ul class='dropdown-content-menu edit-delete-dropdown'>
                <li>
                  <a href="#edit-notification-type-mod" (click)="edit(NotificationType.Id)">
                    Edit
                  </a>
                </li>
                <li>
                  <a href="#details-notification-type-mod" (click)="edit(NotificationType.Id)">
                    Details
                  </a>
                </li>
                <li>
                  <a href="#" (click)="d1.open(); delete(NotificationType.Id)">
                    Delete
                  </a>
                </li>
              </ul>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>
    <mat-paginator *ngIf="NotificationTypeModel?.length > 0" [length]="pageSize" [pageSize]="25" [pageSizeOptions]="[25,50,100,150,200]"
      (page)="pageEvent = $event; getNotificationType(searchFilter, false)"></mat-paginator>
  </div>
</div>

<div class="modal-button">
  <div class="fixed-action-btn">
    <div class=" mdl-fab-btn-wrap">
      <span class="mdl-fab-txt">Add</span>
      <a class="btn btn-floating btn-large sky-blue-color " href="#create-notification-type-mod" (click)="openCreate()">
        <i class="large material-icons">add</i>
      </a>
    </div>
  </div>
</div>

<div class="all-modals">
  <!-- create -->
  <div id="create-notification-type-mod" class="modal common-modal crt-role-modal">
    <form #frmAddNotificationType="ngForm">
      <div class="modal-content">
        <h4>Create NotificationType</h4>
        <div class="modal-close-btn right">
          <img src="assets/images/close-icon.png" class="responsive-img  modal-close " width="9" alt="close-icon">
        </div>
        <div class="row">
          <mat-form-field class="input-field col s12 pad-lft-zero">
            <input type="text" matInput class="exclude-default-style" placeholder="Notification Type" name="Title" [(ngModel)]="newNotificationTypesModel.Title"
              required>
          </mat-form-field>
          <mat-form-field class="input-field col s12 pad-lft-zero">
            <input type="text" multi-line matInput class="exclude-default-style" maxlength="10" placeholder="Notification Key" name="NotificationKey"
              [(ngModel)]="newNotificationTypesModel.NotificationKey" required>
          </mat-form-field>
        </div>
      </div>
      <div class="modal-footer">
        <button class="modal-action waves-effect waves-green btn-flat modal-crt-btn" (click)="create(newNotificationTypesModel)"
          [disabled]="!frmAddNotificationType.form.valid">Create</button>
      </div>
    </form>
  </div>

  <!-- Edit -->
  <div id="edit-notification-type-mod" class="modal common-modal crt-role-modal">
    <form #frmEditNotificationType="ngForm">
      <div class="modal-content">
        <h4>Edit NotificationType</h4>
        <div class="modal-close-btn right">
          <img src="assets/images/close-icon.png" class="responsive-img  modal-close " width="9" alt="close-icon">
        </div>
        <div class="row">
          <mat-form-field class="input-field col s12 pad-lft-zero">
            <input type="text" matInput class="exclude-default-style" placeholder="Notification Type" name="Title" [(ngModel)]="newNotificationTypesModel.Title"
              required>
          </mat-form-field>
          <mat-form-field class="input-field col s12 pad-lft-zero">
            <input type="text" multi-line matInput class="exclude-default-style" maxlength="10" placeholder="Notification Key" name="NotificationKey"
              [(ngModel)]="newNotificationTypesModel.NotificationKey" required>
          </mat-form-field>
        </div>
      </div>
      <div class="modal-footer">
        <button class="modal-action waves-effect waves-green btn-flat modal-crt-btn" (click)="update(newNotificationTypesModel)"
          [disabled]="!frmEditNotificationType.form.valid">Update</button>
      </div>
    </form>
  </div>

  <!-- Details -->
  <div id="details-notification-type-mod" class="modal common-modal crt-role-modal">
    <div class="modal-content">
      <div class="detail-page-wrapper">
        <h3 class="details-header">
          <span>NotificationType </span> Details</h3>
        <div class="det-modal-close-btn right">
          <img src="assets/images/white-close-icon.png" class="responsive-img  modal-close " width="20" alt="close-icon">
        </div>
        <div class="each-detail">
          <b class="dtl-itm-hdr">Notification Type</b>
          <span class="dtl-itm-vlue">{{newNotificationTypesModel.Title}}</span>
        </div>
        <div class="each-detail">
          <b class="dtl-itm-hdr">Created On</b>
          <span class="dtl-itm-vlue">{{newNotificationTypesModel.CreatedOn | date: 'MM/dd/yyyy hh:mm:ss a'}}</span>
        </div>
        <div class="each-detail">
          <b class="dtl-itm-hdr">Updated On</b>
          <span class="dtl-itm-vlue">{{newNotificationTypesModel.UpdatedOn | date: 'MM/dd/yyyy hh:mm:ss a'}}</span>
        </div>
        <div class="each-detail">
          <b class="dtl-itm-hdr">Created By</b>
          <span class="dtl-itm-vlue">{{newNotificationTypesModel.CreatedUser}}</span>
        </div>
        <div class="each-detail">
          <b class="dtl-itm-hdr">Updated By</b>
          <span class="dtl-itm-vlue">{{newNotificationTypesModel.Updateduser}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete -->
<eui-dialog #d1 panelCls="mydlg" headerCls="mydlg-header" footerCls="mydlg-footer" [modal]="true" borderType="none" closed="true">
  <eui-panel-header>Please Confirm</eui-panel-header>
  <p style="text-align:center;margin:50px 0;font-size:16px">Are you sure you want to continue?</p>
  <eui-panel-footer>
    <eui-button-group style="width:100%;height:50px">
      <eui-linkbutton class="f-full" [plain]="true" btnCls="mybtn" (click)="d1.close();deleteConfirm()">Yes</eui-linkbutton>
      <eui-linkbutton class="f-full" [plain]="true" btnCls="mybtn" (click)="d1.close();">No</eui-linkbutton>
    </eui-button-group>
  </eui-panel-footer>
</eui-dialog>